<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title> {$fields:name} - {$fields:uname/} - wayixia.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- 使用QLib控件是必须包含样式表 -->
<link type="text/css" rel="stylesheet" href="{$app:qlib/}/ui.css" />
<link type="text/css" rel="stylesheet" href="{$themes:path/}/all.css" />
<script src="{$app:qlib}/Q.js">
<!--
import utils.stl;
import utils.json2;
import utils.ajax;

-->
</script>

<script src="{$themes:path/}/waterfall.js"></script>
<script>
<!--

function check_width() {
  if(Q.$('tweenimg').width > Q.$('tweenimg').parentNode.offsetWidth) {
    Q.$('tweenimg').style.width = "100%";
  }
}

function check_error(img) {
  img.src = '{$themes:path}/icon48.png';
}

function check_image_width(img) {
  var img_width = img.width;
  var img_height = img.height;
  if(img_width > img_height) {
    img.style.height = "100%"; 
  } else {
    img.style.width = "100%";
  }
}

-->
</script>

<body>

{#template user.menubar/}

<br>
<br><br>
<br><br>
<div id="main">
  <div id="page">
    <div class="main-width"><h3 style="font-size: 16px; font-weight:normal"> 画集 >>  {$fields:name}</h3></div>
    <div class="wf-main" id="wf-main">
      <div class="box wf-cld" style="right: 0; top: 0; DISPLAY:none;"></DIV>
      <div class="box wf-cld" style="right: 0; top: 0;DISPLAY:none;"></DIV>
      <div class="box wf-cld" style="right: 0; top: 0;DISPLAY:none;"></DIV>
      <div class="box wf-cld" style="right: 0; top:0; margin-top: 20px; height: {$fields:info_height}px;">
        <dl class="tbox" style="margin:0;margin-top: -5px;">
        <dt>
          <strong style="color: #333;">
            <em class="icon-calendar"></em>挖客
          </strong>
        </dt>
        <dd>
          <ul class="module">
            <li> 
	    <a href="#" target=""></a>
            </li>
          </ul>
        </dd>
      </dl>
      <div class="user-profile">
        <div class="profile-basic">
        <dl style="padding:5px 0;">
          <dt>
          <img src="{$app:path}{$cfg:site.avatar}/user92.{$fields:uid}.jpg" style="border:1px solid #CCC;" onerror="check_error(this);">
          </dt>
	  <dd class="name" style="margin-left: 90px;text-indent:15px;overflow:hidden;text-overflow:ellipsis;">
	    <a href="/user/{$fields:uid}" title="{$fields:uname}" ><nobr>{$fields:uname/}</nobr></a>
	  </dd>
          <dd class="company">  </dd>
          <dd></dd>
          <dd class="privacy-set">
          
          <a href="#" >&nbsp;&nbsp;</a>
          
          </dd>
        </dl>
        </div>
        <div>
        <html:list
          id="mydatamenu" 
          datasrc="data://albums_data" 
          keySelected="name"
          valueSelected="{$v:tag}"
          maskSelected="curr"
        >
        <t:data>
        <a href="{$app:path/}/paintings/[field:id]" >
            <span class="uploadBtn small" style="width:195px;color:#333;margin: 3px 0px; text-indent: 10px;text-align:left;">
            <span> [field:name] </span></span>
          </a>
	</t:data>
        </html:list>
        </div>
      </div>
        <br><br>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  {#template user.footer}
</div>
<br><br>

<textarea id="wf-template" style="display:none">
  <div class="hidden">
    采集到
    <a href=""></a>
  </div>
  <div class="actions hidden">
    <div class="right">
      <a href="" onclick="return false;" class="like btn btn11 wbtn">
         <strong><em></em>赞</strong><span></span>
    </a>
    </div>
    <div class="left">
      <a title="快速转采" href="" onclick="return false;" class="thunderpin btn btn11 wbtn">
        <strong><em></em></strong><span></span>
      </a>
      <a href="#" class="repin btn btn11 wbtn">
        <strong>转采</strong><span></span>
      </a>
    </div>
  </div>
  <a href="{$app:path}/pins/[[id]]" target="_self" class="img x">
    <img src="http://[[server]]/thumb/[[file_name]]" width=[[width]] height=[[height]] alt="">
  </a>
  <p class="description">[[title]]</p>
  <p class="stats less hidden"><span class="RepinsCount"> 1 转采&nbsp;&nbsp;</span></p>
  <div class="convo attribution clearfix">
    <p class="NoImage">
      <a href="{$app:path}/pins/[[id]]" target="_self">[[from_host]]
      </a>
    </p>
  </div>
  <div style="display:none;" class="comments muted"></div>
</textarea>


<script type="text/javascript">

function store(arr) {
  var _this = this;
  this.data = (arr instanceof Array)?arr:[];

  this.pop = function(len) {
    var arr = [];
  while(len >= 0 && _this.data.length > 0) {
    arr.push(_this.data.shift());
    len--;
  }
  return arr;
  }
}
var g_waterfall = null;
var albums_data = {$fields:images_data};
var g_store = new store(albums_data);

function getScrollTop(){     
         var scrollTop=0;     
         if(document.documentElement&&document.documentElement.scrollTop){     
           scrollTop=document.documentElement.scrollTop;     
         }else if(document.body){     
           scrollTop=document.body.scrollTop;     
         }     
         return scrollTop;     
       }     

Q.Ready(function(){
  g_waterfall = new Waterfall({
  "container":"wf-main",
  "colWidth":238,
  "colCount":4,
  "template":Q.$('wf-template').value,
  });



  g_waterfall.append(g_store.pop(10));

});

</script>

</body>
</html>
