<!DOCTYPE>
<html>
<head>
<title> 来自 {$fields:from_host} 的分享 - wayixia.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- 使用QLib控件是必须包含样式表 -->
<link type="text/css" rel="stylesheet" href="{$app:qlib/}/ui.css" />
<link type="text/css" rel="stylesheet" href="{$themes:path/}/all.css" />

<style>

#wf-template {
  display:none;
}

.pic {
position: absolute;
width: 50px;
height: 50px;
overflow: hidden;
margin:0;
padding:0;
}

.xx {
  margin:0;
  width: 88px;
  height: 50px;
  display: block;
  padding: 0 0 0 60px;
  word-wrap: break-word;
  font-size:15px;
}

</style>

<script src="{$app:qlib}/Q.js">
<!--
import utils.stl;
import utils.json2;
import utils.ajax;

-->
</script>

<script src="{$themes:path/}/waterfall.js"></script>
<script>
<!--

function check_width() {
  if(Q.$('tweenimg').width > Q.$('tweenimg').parentNode.offsetWidth) {
    Q.$('tweenimg').style.width = "100%";
  }
}

function check_error(img) {
  img.src = '{$themes:path}/icon48.png';
}

function check_image_width(img) {
  var img_width = img.width;
  var img_height = img.height;
  if(img_width > img_height) {
    img.style.height = "100%"; 
  } else {
    img.style.width = "100%";
  }
}

-->
</script>

<body>

{#template user.menubar/}

<br>
<br><br>
<br><br>
<div id="main">
  <div id="page" class="wf-main">
    <div class="wf-main">
      <h3 style="font-size: 16px; font-weight:normal">
      来自 {$get:d} 的分享
      </h3>
      <br/>
    </div>
    <div class="wf-main" id="wf-main">
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  {#template user.footer}
</div>
<br><br>

<textarea id="wf-template" style="display:none;">
  <div class="actions hidden">
    <div class="right">
      <a href="" onclick="return false;" class="like btn btn11 wbtn">
         <strong><em></em>赞</strong><span></span>
	  </a>
    </div>
    <div class="left">
      <a title="快速转采" href="" onclick="return false;" class="thunderpin btn btn11 wbtn">
        <strong><em></em></strong><span></span>
      </a>
      <a href="#" class="repin btn btn11 wbtn">
        <strong>转采</strong><span></span>
      </a>
    </div>
  </div>
  <a href="{$app:path}/pins/[[id]]" target="_self" class="img x">
    <img src="http://[[server]]/thumb/[[file_name]]" width=[[width]] height=[[height]] alt="">
  </a>
  <p class="description">[[title]]</p>
  <p class="stats less hidden"><span class="RepinsCount"> 1 转采&nbsp;&nbsp;</span></p>
  <div class="convo attribution clearfix">
    <p class="NoImage">
      <a href="{$app:path}/pins/[[id]]" target="_self">[[owner]]
      </a>
    </p>
  </div>
</textarea>

<script type="text/javascript">

function store(arr) {
  var _this = this;
  this.data = (arr instanceof Array)?arr:[];

  this.pop = function(len) {
    var arr = [];
	while(len >= 0 && _this.data.length > 0) {
	  arr.push(_this.data.shift());
	  len--;
	}
	return arr;
  }
}
var g_waterfall = null;
var albums_data = {$fields:images_data};
var g_store = new store(albums_data);

Q.Ready(function(){
  g_waterfall = new Waterfall({
	"container":"wf-main",
	"colWidth":238,
	"colCount":4,
	"template":Q.$('wf-template').value,
  });

  g_waterfall.append(g_store.pop(10));

});

</script>

</body>
</html>
