<!DOCTYPE>
<html>
<head>
<title> 什么是挖一下 - wayixia.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- 使用QLib控件是必须包含样式表 -->
<link type="text/css" rel="stylesheet" href="{$app:qlib/}/ui.css" />
<link type="text/css" rel="stylesheet" href="{$themes:path/}/layout.css" />
<link type="text/css" rel="stylesheet" href="{$themes:path/}/all.css" />
<style>
h3 {
  background: #EEE;
  font-weight: normal;
}

</style>


<script src="{$themes:path}/waterfall.js"></script>

<script>
<!--
Q.Ready(function(){

});

-->
</script>
</head>
<body>

{#template user.menubar/}

<br><br><br><br>

<div id="main">
  <div id="page" class="wf-main" style="float:none;width:990px;">
    <div id="left-column">
      <div class="panel" style="font-size:14px; line-height:30px; color: #333;">
    <h2 style="color: #777; margin-top: 20px;font-size:20px;">安装采集工具</h2>
    <hr>
<br>

<p>

<h3>Iphone Ipad 浏览器（将下面内容添加的书签）</h3>

<p style="margin: 10px 0px;">
<input style="color: #ccc;height: 30px;" value="javascript:void(function(d,a,c,b){a[c]&amp;&amp;typeof a[c].displayValidImages=='function'?a[c].displayValidImages():(b=a.createElement('script'),b.id='wayixia_script',b.setAttribute('charset','utf-8'),b.src='http://wayixia.com/wayixia.js?'+Math.floor(+new Date/1E7),a.body.appendChild(b))}(window,document,'__wayixia'));"  size="70"/>


</p>
<br><br>



<h3>谷歌（Chrome）浏览器（将超链接拖放至书签栏）</h3>

<p style="margin: 10px 0px;"> <a style="color:#FFF; background:#FF9900;padding:3px;" href="javascript:void(function(d,a,c,b){a[c]&amp;&amp;typeof a[c].displayValidImages=='function'?a[c].displayValidImages():(b=a.createElement('script'),b.id='wayixia_script',b.setAttribute('charset','utf-8'),b.src='http://wayixia.com/wayixia.js?'+Math.floor(+new Date/1E7),a.body.appendChild(b))}(window,document,'__wayixia'));">[挖一下]</a></p>
<br>


<br>

<h3>Internet Explore 浏览器（将超链接拖放至书签栏）</h3>
<p style="margin: 10px 0px;"><a style="color:#FFF; background:#FF9900;padding:3px;"  href="javascript:void(function(d,a,c,b){a[c]&amp;&amp;typeof a[c].displayValidImages=='function'?a[c].displayValidImages():(b=a.createElement('script'),b.id='wayixia_script',b.setAttribute('charset','utf-8'),b.src='http://wayixia.com/wayixia.js?'+Math.floor(+new Date/1E7),a.body.appendChild(b))}(window,document,'__wayixia'));">[挖一下]</a></p>

<br>
<br>
<br>

</p>
          <div class="clear"></div>
                </div>
      </div>
      <div id="right-column">
        <div style="border-left:0px solid #F30; background: #FFF;font-size:14px;height:40px;line-height:40px;text-indent:20px;padding-top:2px;" id="tree_album">
          <p style="color: #333; margin-top: 0px; margin-bottom: 5px;">
          <em class="icon-calendar"></em>
          <a href="{$app:path}/help/index">使用帮助</a>
          </p>
        </div>
        <div style="border-left:0px solid #F30; background:#F8F8F8; font-size:14px;height:40px;line-height:40px;text-indent: 20px;" id="tree_album">
          <p style="color: #333; margin-top: 0px; margin-bottom: 5px;">
          <em class="icon-calendar"></em>
          <a href="{$app:path}/help/install#">安装采集工具</a>
          </p>
        </div>
        </dl>    
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    </div>
   {#template user.footer}
</div>  
</body>
</html>
