<!DOCTYPE>
<html>
<head>
<title> 什么是挖一下 - wayixia.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- 使用QLib控件是必须包含样式表 -->
<link type="text/css" rel="stylesheet" href="{$app:qlib/}/ui.css" />
<link type="text/css" rel="stylesheet" href="{$themes:path/}/layout.css" />
<link type="text/css" rel="stylesheet" href="{$themes:path/}/all.css" />
<link type="text/css" rel="stylesheet" href="{$themes:path/}/style.css" />
<link type="text/css" rel="stylesheet" href="{$themes:path/}/waterfall.css" />
<link type="text/css" rel="stylesheet" href="{$themes:path/}/registeruser.css"/>
<link type="text/css" rel="stylesheet" href="{$themes:path/}/user.css"/>
<style>
h3 {
	background: #EEE;
	font-weight: normal;
}

</style>


<script src="{$themes:path}/waterfall.js"></script>

<script>
<!--
Q.Ready(function(){

/*
var pos = Q.absPosition(Q.$('nav'));
Q.$('tweenimg').style.position = 'absolute';
Q.$('tweenimg').style.top =  - Q.$('tweenimg').offsetHeight+ 'px';
Q.$('tweenimg').style.display = '';


(new Q.Animate({
tween: 'Cubic',
ease: 'easyIn',
max: pos.top+pos.height,
begin: -100,
duration: 10,
bind : function(x) {
   console.log(x);
   //if(x-Q.$('tweenimg').offsetHeight>0) {
     
   //}
   Q.$('tweenimg').style.top = x+'px';
}})).play();

*/

});

-->
</script>
</head>
<body style="background:#f7f5f5;">

{#template user.menubar/}

<br><br><br><br>

<div id="main">
  <div id="page">
    <div id="left-column">
      <div class="panel" style="font-size:14px; line-height:30px; color: #333;">
		<h2 style="color: #777; margin-top: 20px;font-size:20px;">安装</h2>
		<hr>
<br>

<p>

<h3>Iphone Ipad 浏览器（将下面内容添加的书签）</h3>

<p style="margin: 10px 0px;">
<input style="color: #ccc;height: 30px;" value="javascript:void(function(d,a,c,b){a[c]&amp;&amp;typeof a[c].displayValidImages=='function'?a[c].displayValidImages():(b=a.createElement('script'),b.id='wayixia_script',b.setAttribute('charset','utf-8'),b.src='http://wayixia.com/wayixia.js?'+Math.floor(+new Date/1E7),a.body.appendChild(b))}(window,document,'__wayixia'));"  size="70"/>


</p>
<br><br>



<h3>谷歌（Chrome）浏览器（将超链接拖放至书签栏）</h3>

<p style="margin: 10px 0px;"> <a style="color:#FFF; background:#FF9900;padding:3px;" href="javascript:void(function(d,a,c,b){a[c]&amp;&amp;typeof a[c].displayValidImages=='function'?a[c].displayValidImages():(b=a.createElement('script'),b.id='wayixia_script',b.setAttribute('charset','utf-8'),b.src='http://wayixia.com/wayixia.js?'+Math.floor(+new Date/1E7),a.body.appendChild(b))}(window,document,'__wayixia'));">[挖一下]</a></p>
<br>


<br>

<h3>Internet Explore 浏览器（将超链接拖放至书签栏）</h3>
<p style="margin: 10px 0px;"><a style="color:#FFF; background:#FF9900;padding:3px;"  href="javascript:void(function(d,a,c,b){a[c]&amp;&amp;typeof a[c].displayValidImages=='function'?a[c].displayValidImages():(b=a.createElement('script'),b.id='wayixia_script',b.setAttribute('charset','utf-8'),b.src='http://wayixia.com/wayixia.js?'+Math.floor(+new Date/1E7),a.body.appendChild(b))}(window,document,'__wayixia'));">[挖一下]</a></p>

<br>
<br>
<br>

</p>
					<div class="clear"></div>
                </div>
			</div>
			<div id="right-column">
			  <div style="border:0; background: #FFF;font-size: 14px;height: 45px; line-height: 45px;text-indent: 20px;padding-top: 5px;" id="tree_album">
          <p style="color: #333; margin-top: 3px; margin-bottom: 5px;">
          <em class="icon-calendar"></em>
          <a href="{$app:path}/helper/index">
            了解挖一下</a>
          </p>
        </div>
        <div style="border:0; background:#F8F8F8; font-size: 14px;height: 45px; line-height: 45px;text-indent: 20px;padding-top: 0px;" id="tree_album">
          <p style="color: #333; margin-top: 0px; margin-bottom: 5px;">
          <em class="icon-calendar"></em>
          <a href="{$app:path}/helper/install#">
            安装</a>
          </p>
        </div>
				</dl>		
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
    <div id="footer" class="tableheader">
      <hr class="hide">
      <p>
        Powered By <a href="http://wayixia.com">wayixia.com</a>. All Rights Reservered. 
      </p>
      </div>
      </div>
		</div>
    </div>
    <br><br>
	</div>	
</body>
</html>
