<!DOCTYPE>
<html>
<head>
<title> 什么是挖一下 - wayixia.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- 使用QLib控件是必须包含样式表 -->
<link type="text/css" rel="stylesheet" href="{$app:qlib/}/ui.css" />
<link type="text/css" rel="stylesheet" href="{$themes:path/}/all.css" />

<script src="{$app:qlib}/Q.js">
<!--
import utils.stl;
import utils.json2;
import utils.ajax;
import utils.tween;
-->
</script>

<script src="{$themes:path}/waterfall.js"></script>

<script>
<!--
Q.Ready(function(){
});

-->
</script>

<body>

{#template user.menubar/}

<br><br><br><br>

<div id="main">
  <div id="page" class="wf-main" style="float:none; width:990px;">
    <div id="left-column">
      <div class="panel" style="font-size:14px; line-height:30px; color: #333;">
        <h2 style="color: #777; margin-top: 20px; font-size: 20px;">使用帮助</h2>
<hr>
<br>
<br>
<p> 挖一下 - 采集和分享你喜欢的图片。</p>
<br>
<p> <h4>如何使用</h4> </p>
<p style="font-size: 13px; color:#666;"> 使用挖一下前，需要注册挖一下用户，也可以使用微薄账号登陆。  </p>
<br>
<p> 1. 安装书签采集工具 </p>
<p style="font-size: 13px; color:#666;"> 采集工具安装步骤请点下面的按钮，按照说明操作。  </p>
<p> <a class="button" href="/help/install" target="_self" style="width:100px;"> 安装 >> </a> </p>
<br />
<p> 2. 采集网站图片 </p>
<p style="font-size: 13px; color:#666;"> 在安装好书签采集工具后，浏览网站时遇到不错的图片，只要点击书签栏的“挖一下”书签，会立即列举页面上的图片, 鼠标移动到你喜欢的图片上，点击"挖一下"按钮  </p>
<br />
<p> 3. 浏览图片 </p>
<p style="font-size: 13px; color:#666;"> 登录挖一下后，进入个人中心，可以查看到你创建的画集列表，点击画集进入浏览图片。系统默认会分配一个待分类的画集存储还有分有分类的图片 </p>
<br>
<br>
<br>
<br>


</p>
          <div class="clear"></div>
                </div>
      </div>
      <div id="right-column">
        <div style="border-left:0px solid #FF3300; background: #F8F8F8;font-size: 14px;height: 40px; line-height: 40px;text-indent: 20px;padding-top: 2px;" id="tree_album">
          <p style="color: #333; margin-top: 0px; margin-bottom: 5px;">
          <em class="icon-calendar"></em>
          <a href="{$app:path}/help/index">使用帮助</a>
          </p>
        </div>
        <div style="border:0; background:#FFF; font-size: 14px;height: 40px; line-height: 40px;text-indent: 20px;" id="tree_album">
          <p style="color: #333; margin-top: 0px; margin-bottom: 5px;">
          <em class="icon-calendar"></em>
          <a href="{$app:path}/help/install#">安装采集工具</a>
          </p>
        </div>
        </dl>    
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div id="footer" class="tableheader">
      <hr class="hide">
      <p>
         Powered By <a href="http://wayixia.com">wayixia.com</a>. All Rights Reservered. 
      </p>
      </div>
      </div>
    </div>
    </div>
    <br><br>
  </div>  
</body>
</html>
