<!DOCTYPE>
<html>
<head>
<title> 推荐用户 - wayixia.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- 使用QLib控件是必须包含样式表 -->
<link type="text/css" rel="stylesheet" href="{$app:qlib/}/ui.css" />
<link type="text/css" rel="stylesheet" href="{$themes:path/}/layout.css" />
<link type="text/css" rel="stylesheet" href="{$themes:path/}/style.css" />
<link type="text/css" rel="stylesheet" href="{$themes:path/}/waterfall.css" />
<link type="text/css" rel="stylesheet" href="{$themes:path/}/user.css" />

<style>

#wf-template {
	display:none;
}

.pic {
position: absolute;
width: 50px;
height: 50px;
overflow: hidden;
margin:0;
padding:0;
}

.xx {
  margin:0;
  width: 88px;
  height: 50px;
  display: block;
  padding: 0 0 0 60px;
  word-wrap: break-word;
  font-size:15px;
}

</style>

<script src="{$app:qlib}/Q.js">
<!--
import utils.stl;
import utils.json2;
import utils.ajax;

-->
</script>

<script src="{$themes:path/}/waterfall.js"></script>
<script>
<!--

function check_error(img_) {
  img_.src = '{$themes:path}/icon48.png';
}

-->
</script>

<body>
	
{#template user.menubar/}

<br>
<br><br>
<br><br>
<div class="main-width" align="left">
  <div class="btn-group time-limit">
    <a href="{$app:app}" class="btn btn-default">最新分享</a>
    <a href="/recommend/album" class="btn btn-default">推荐画集</a>
    <a href="/recommend/user" class="btn btn-primary">推荐用户</a>
  </div>
</div>
<br>

<div id="main">
  <div id="page" class="wf-main">
    <div class="wf-main">
      <!--h3 style="font-size: 16px; font-weight:normal">
      推荐挖客
      </h3-->
      <br/>
    </div>
    <div class="wf-main user-style" id="wf-main">
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div id="footer" class="tableheader">
    <p>
      Powered By <a href="http://wayixia.com">wayixia.com</a>. All Rights Reservered.
    </p>
  </div>
</div>
<br><br>

<textarea id="wf-template">
  <div class="user-profile" style="width:429px;border-right: 1px solid #F2F5F5;float: left;">
    <div class="profile-basic">
      <dl style="padding:12px 0;">
      <dt>
        <a href="{$app:path}/user/[[uid]]" target="_self" class="img x">
          <img src="{$cfg:site.avatar}/user92.[[uid]].jpg" width=92 height=92 class="normalFace" style="border:1px solid #CCC; width:100%;" onerror="check_error(this);"></a>
      </dt>
        <dd class="name"><a href="{$app:path}/user/[[uid]]" title="挖客" style="font-size: 16px;">[[name]]</a></dd>
	<dd class="count">
	<span> <a href="{$app:path}/user/[[uid]]"> [[num_images]] <br> <p>图片</p></a></span>
	<span> [[num_albums]] <br> <p>图集</p></span>
	</dd>
        <!--dd class="privacy-set"><a href="#">&nbsp;&nbsp;1222222222222</a></dd-->
      </dl>
      <div class="description" style="color: #999;height: 40px; background: #FAFAFA; margin:10px 10px 0px 0px;">[[description]]&nbsp;</div>
      <div style="height:10px;">&nbsp;</div>
    </div>
  </div>
  <div class="album-list">
    [[albumlist]]	  
  </div>
  <!--div class="convo attribution clearfix">
    <p class="NoImage">
      <a href="{$app:path}/pins/[[id]]" target="_self">[[owner]]
      </a>
    </p>
  </div-->
</textarea>

<textarea id="album_template" style="display:none;">
<span class="album">
  <div class="ablum-name" style="font-size:14px; overflow:hidden; width:100px;text-overflow : ellipsis"><nobr>[[albumname]]</nobr></div>
  <div class="album-body">
    [[images]]
  </div>
  <div class="ablum-bottom" align="right"><button class="button">关注</button></div>
</span>
</textarea>

<textarea id="image_template" style="display:none;">
    <a href="{$app:path}/pins/[[id]]" target="_self">
	    <div class="album-item" style="background:url({$cfg:site.thumb_images_dir}/[[file_name]]) 50% 50% no-repeat"> </div>
    </a>
</textarea>

<!--    
    <span class="album">
      <div class="ablum-name">图集名称1</div>
      <div class="album-body">
        <a href="/sites/d.hiphotos.bdimg.com" target="_self">
           <div class="album-item" style="background:url(/ii/thumb/0c1b7c3e-a475-4fd7-8ff6-e7d051454128) 50% 50% no-repeat"> </div>
        </a>
            
        <a href="/sites/d.hiphotos.bdimg.com" target="_self">
              <div class="album-item" style="background:url(/ii/thumb/e11bea77-06ba-48e7-8428-c7c28e5aafef) 50% 50% no-repeat">
              </div>
        </a>
            
        <a href="/sites/d.hiphotos.bdimg.com" target="_self">
          <div class="album-item" style="background:url(/ii/thumb/39212c65-8442-45e8-966e-3605b3b9179d) 50% 50% no-repeat">
             </div>
        </a>
        <a href="/sites/d.hiphotos.bdimg.com" target="_self">
              <div class="album-item" style="background:url(/ii/thumb/0a761f9f-b3f8-4434-8867-9ffb9ac4018e) 50% 50% no-repeat">
              </div>
        </a>
       <a href="/sites/d.hiphotos.bdimg.com" target="_self">
              <div class="album-item" style="background:url(/ii/thumb/0a761f9f-b3f8-4434-8867-9ffb9ac4018e) 50% 50% no-repeat">
              </div>
        </a>
        <a href="/sites/d.hiphotos.bdimg.com" target="_self">
              <div class="album-item" style="background:url(/ii/thumb/0a761f9f-b3f8-4434-8867-9ffb9ac4018e) 50% 50% no-repeat">
              </div>
        </a>
      </div>
      <div class="ablum-bottom" align="right"><button class="button">关注</button></div>
    </span>
    <span class="album">
      
    <div class="ablum_name">图集名称1</div>
      <div class="album-body">
        <a href="/sites/d.hiphotos.bdimg.com" target="_self">
           <div class="album-item" style="background:url(/ii/thumb/0c1b7c3e-a475-4fd7-8ff6-e7d051454128) 50% 50% no-repeat"> </div>
        </a>
            
        <a href="/sites/d.hiphotos.bdimg.com" target="_self">
              <div class="album-item" style="background:url(/ii/thumb/e11bea77-06ba-48e7-8428-c7c28e5aafef) 50% 50% no-repeat">
              </div>
        </a>
            
        <a href="/sites/d.hiphotos.bdimg.com" target="_self">
          <div class="album-item" style="background:url(/ii/thumb/39212c65-8442-45e8-966e-3605b3b9179d) 50% 50% no-repeat">
             </div>
        </a>
        <a href="/sites/d.hiphotos.bdimg.com" target="_self">
              <div class="album-item" style="background:url(/ii/thumb/0a761f9f-b3f8-4434-8867-9ffb9ac4018e) 50% 50% no-repeat">
              </div>
        </a>
       <a href="/sites/d.hiphotos.bdimg.com" target="_self">
              <div class="album-item" style="background:url(/ii/thumb/0a761f9f-b3f8-4434-8867-9ffb9ac4018e) 50% 50% no-repeat">
              </div>
        </a>
       <a href="/sites/d.hiphotos.bdimg.com" target="_self">
              <div class="album-item" style="background:url(/ii/thumb/0a761f9f-b3f8-4434-8867-9ffb9ac4018e) 50% 50% no-repeat">
              </div>
        </a>
      </div>
      <div class="ablum-bottom" align="right"><button class="button">关注</button></div>
    </span>
   <span class="album">
      <div class="ablum-name">图集名称1</div>
      <div class="album-body">
        <a href="/sites/d.hiphotos.bdimg.com" target="_self">
           <div class="album-item-primary" style="background:url(/ii/thumb/0c1b7c3e-a475-4fd7-8ff6-e7d051454128) 50% 50% no-repeat"> </div>
        </a>
            
        <a href="/sites/d.hiphotos.bdimg.com" target="_self">
              <div class="album-item" style="background:url(/ii/thumb/e11bea77-06ba-48e7-8428-c7c28e5aafef) 50% 50% no-repeat">
              </div>
        </a>
            
        <a href="/sites/d.hiphotos.bdimg.com" target="_self">
          <div class="album-item" style="background:url(/ii/thumb/39212c65-8442-45e8-966e-3605b3b9179d) 50% 50% no-repeat">
             </div>
        </a>
            
              <a href="/sites/d.hiphotos.bdimg.com" target="_self">
              <div class="album-item" style="background:url(/ii/thumb/8229c01f-1396-4518-ab70-a70c3fc18e60) 50% 50% no-repeat">
              </div>
              </a>
               <a href="/sites/d.hiphotos.bdimg.com" target="_self">
              <div class="album-item" style="background:url(/ii/thumb/729127ca-0891-4707-a9bb-4ac728f3de6d) 50% 50% no-repeat">
              </div>
              </a>
           
              <a href="/sites/d.hiphotos.bdimg.com" target="_self">
              <div class="album-item" style="background:url(/ii/thumb/729127ca-0891-4707-a9bb-4ac728f3de6d) 50% 50% no-repeat">
              </div>
              </a>
            
        <a href="/sites/d.hiphotos.bdimg.com" target="_self">
              <div class="album-item" style="background:url(/ii/thumb/0a761f9f-b3f8-4434-8867-9ffb9ac4018e) 50% 50% no-repeat">
              </div>
        </a>
      </div>
      <div class="ablum-bottom" align="right"><button class="button">关注</button></div>
    </span>
-->


<script type="text/javascript">

function store(arr) {
  var _this = this;
  this.data = (arr instanceof Array)?arr:[];

  this.pop = function(len) {
    var arr = [];
	while(len >= 0 && _this.data.length > 0) {
	  arr.push(_this.data.shift());
	  len--;
	}
	return arr;
  }
}

function parse_images(tpl, item) {
  tpl = tpl.replace(/\[\[(\w+)\]\]/ig, 
    function(w,w2,w3,w4) {
      return item[w2];
    }
  );
  return tpl;
}

function parse_album(tpl, item) {
  tpl = tpl.replace(/\[\[(\w+)\]\]/ig, 
    function(w,w2,w3,w4) {
      if(w2=="images") {
        var str = "";
        var images_arr = [];
	try {
          images_arr = item['data_images'];
        } catch(e) {
        }
        var len = images_arr.length;
	if(len>6) {
	  len = 6;
	}
	for(var i=0; i < len; i++) {
          str += parse_images(Q.$('image_template').value, images_arr[i]);
        }
        return str;
      }
      return item[w2];
    }
  );
  return tpl;
}

var g_waterfall = null;
var g_store = new store({$fields:users});

Q.Ready(function(){
  g_waterfall = new Waterfall({
	"container":"wf-main",
	"colWidth":990,
	"colCount":1,
	"template":Q.$('wf-template').value,
	"item_callback": function(name, item) {
	  if(name == "albumlist") {
	    var str = "";
	    var albums = [];
	    try {
	      albums = Q.json_decode(item['data_albums']);
	    } catch(e) {
	    
	    }
            for(var i=0; i < albums.length; i++) {
	      str += parse_album(Q.$('album_template').value, albums[i]);
	    }
	    return str;
	  } else {
	    return item[name];
	  }
	}
  });

  g_waterfall.append(g_store.pop(6));

});

</script>

</body>
</html>
