<div id="user-title-bar">
<div class="main-width" style="z-index:3;">
  <div class="nav-menu" style="height:40px;">
    <ul id="user-menu">
<?php 
    $name = $theApp->get_user_info('name');
    if(empty($name)) {
?>  
      <li class="nav_item"><a href="{$app:app}">首页</a></li>
      <li class="nav_item"><a href="{$app:app}&mod=user&action=register">注册</a></li>
      <li class="nav_item"><a href="{$app:app}&mod=user&action=regular-login" >登录</a></li>
<?php
    } else {
?>
      <li class="nav_item"><a href="{$app:app}&mod=user&action=home"><b><?php echo $name;?></b></a></li>
      <li class="nav_item user-setting" style="padding-right: 0; ">
        <a href="test">
          <dt>
            <dl><a href="{$app:app}&mod=user&action=home"> 个人中心 </a></dl>       
            <dl><a href="{$app:app}&mod=user&action=logout">退出</a></dl>
          </dt>
        </a>
      </li>
<?php 
    }
?>
    </ul>
    
  </div>
</div>

</div>
