
Options Indexes +FollowSymLinks -MultiViews 

RewriteEngine On

RewriteBase /

#RewriteRule (\w+) $1.php [L]
#RewriteRule ^(\w+)/?$ index.php?mod=$1 [L]
RewriteRule ^recommend/user/?$ index.php?mod=recommend&action=user [L]
RewriteRule ^recommend/album/?$ index.php?mod=recommend&action=album [L]
RewriteRule ^recommend/schedule/?$ index.php?mod=recommend&action=schedule [L]
RewriteRule ^recommend/schedulealbums/?$ index.php?mod=recommend&action=schedulealbums [L]
RewriteRule ^schedule/([\w]+)/?$ index.php?mod=schedule&action=$1 [L]
RewriteRule ^pins/([0-9]+)/?$ index.php?action=display&id=$1 [L]
RewriteRule ^albums/([0-9]+)/?$ index.php?mod=default&action=display-album&&id=$1 [L]
RewriteRule ^albumslist/([0-9]+)/?$ index.php?mod=default&action=display-album-list&&uid=$1 [L]
RewriteRule ^sites/([\w\-\.\$\?\s\t&]+)/?$ index.php?mod=default&action=display-domain&d=$1 [L]
RewriteRule ^user/([\w\-]+)/?$ index.php?mod=default&action=display-all&u=$1 [L]
RewriteRule ^help/([\w\-]+)/?$ index.php?mod=helper&action=$1 [L]
RewriteRule ^index/?$ index.php?mod=default [L]
RewriteRule ^index/(\d+)/?$ index.php?mod=default&p=$1 [L]
RewriteRule ^index/([^/]+)/?$ index.php?mod=default&tag=$1 [L]
RewriteRule ^index/([^/]+)/([0-9]+)/?$ index.php?mod=default&tag=$1&p=$2 [L]

#RewriteCond %{HTTP_HOST} ^wayixia.com
#RewriteCond %{REQUEST_URI} !^user.php$
#RewriteCond %{REQUEST_URI} \.php$
#RewriteRule (.*).php$ http://wayixia.com/$1 [R=permanent,L]
#RewriteCond %{HTTP_HOST} !^www\.wayixia\.com
#RewriteRule ^(.+) %{HTTP_HOST} [C]
#RewriteRule ^([^.]+)\.wayixia\.com http://www\.wayixia\.com/user.php?username=$1

# Rewrite 系统规则请勿修改
#RewriteRule ^app/(\w+)$ index.php?app=$1
#RewriteRule ^forum-([0-9]+)-([0-9]+)\.html$ forumdisplay.php?fid=$1&page=$2
#RewriteRule ^thread-([0-9]+)-([0-9]+)-([0-9]+)\.html$ viewthread.php?tid=$1&extra=page\%3D$3&page=$2
#RewriteRule ^space-(username|uid)-(.+)\.html$ space.php?$1=$2
#RewriteRule ^tag-(.+)\.html$ tag.php?name=$1
