<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title> {$fields:name} - {$fields:uname/} - wayixia.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{#template resinclude}

<style>
<!--
#album-view {
 position:fixed;
 background:#2a2a2a;
 top:43px;
 left: 0;
 right:0;
 bottom:0;
 overflow:auto;
}
//-->
</style>
<script>
<!--
function check_error(img) {
  img.src = '{$themes:path}/icon48.png';
}

var g_div = null;

function get_div(sibling) {
  if(!g_div) {
    g_div = document.createElement('div');
    sibling.parentNode.appendChild(g_div);
    g_div.id = "album-view";
    g_div.style.left = -sibling.scrollWidth;
    g_div.onclick = function() {
      var _this = this;
      var max_width = Q.$('page').scrollWidth;
      Q.$('page').style.left = -max_width;
      (new Q.Animate({
        tween: 'Cubic',
        ease: 'easyIn',
        max: max_width,
        begin: 0,
        duration: 15,
        bind : function(x) {
          _this.style.left = (-x)+'px';
          _this.style.right = x+'px';
          Q.$('page').style.left = (this.max-x) + 'px';
          if(x>=max_width) {
            document.body.style.overflow = g_old_overflow;
            document.body.scrollTop = g_old_scrolltop;
          }
        }
      })).play();
    }
  }
  

  return g_div;
}

var g_old_overflow = '';
var g_old_scrolltop = 0;
function album_display(id, url) {
  var old = Q.$('page').currentStyle.position;
  Q.$('page').style.position = 'absolute';
  var d = get_div(Q.$('page'));
  d.innerHTML = '<img src='+url+'>';
  g_old_overflow = document.body.currentStyle.overflow;
  g_old_scrolltop = document.body.scrollTop;
  (new Q.Animate({
      tween: 'Cubic',
      ease: 'easyIn',
      max: document.body.scrollWidth,
      begin: 0,
      duration: 15,
      bind : function(x) {
        Q.$('page').style.left = -x + 'px';
        if(d) {
          d.style.left = (-x+this.max)+'px';
          d.style.right = -x + 'px';
	  if(x>=this.max) {
            document.body.style.overflow = 'hidden';
	  }
	}
      }
    })).play();
  return false;
}

-->
</script>

<body>
{#template user.menubar/}
<br><br>
<div id="main">
  <div id="page">
    <!--div class="main-width"><h3 style="font-size: 16px; font-weight:normal"> 画集 >>  {$fields:name}</h3></div-->
    <div class="main-width" style="background: #FFF">
    </div>
    <br>
    <div class="wf-main" id="wf-main">
      <div class="box wf-cld">
        <div class="user-profile">
          <div class="profile-basic">
          <dl>
            <dt>
            <img src="{$app:host}{$cfg:site.avatar}/user92.{$fields:uid}.jpg"
               style="border:1px solid #CCC;width:92px; height:92px;" onerror="check_error(this);">
            </dt>
            <dd class="name" style="margin-left: 90px;text-indent:10px; color: #F40;overflow:hidden;width:120px;text-overflow:ellipsis;white-space:nowrap">
              <nobr>{$fields:uname func="strtoupper(@this)"/}</nobr>
            </dd>
            <dd class="company"> &nbsp;{$fields:description} </dd>
            <dd>
            </dd>
            <dd class="privacy-set"> <a href="#" >&nbsp;&nbsp;</a> </dd>
            <div style="clear:both">
            <html:list
            id="mydatamenu" 
            datasrc="data://albums_data" 
            keySelected="album_id"
            valueSelected="{$get:id}"
            maskSelected="curr"
          >
          <t:data>
          <a href="{$app:host/}/albums/[field:album_id]">
            <span class="uploadBtn small [field:selected]">[field:album_name] ([field:num_images]) </span>
          </a>
          </t:data>
          </html:list>
          </div>
          </dl>
        </div>
        </div>
      </div>
      {#template waterfall/albums}
    </div>
    <div class="clear"></div>
    {#template user.footer}
  </div>
</div>
<br><br>

<script type="text/javascript">
g_page_num = 2;
Q.Ready(function(){

  g_waterfall = new Waterfall({
  "container":"wf-main",
  "colWidth":240,
  "colCount":5,
  "template": '', // Q.$('wf-template').value,
  "animate" : new alpha(),
  "onloaditems" : function(timerout) {
    Q.Ajax({
      command: "{$app:app}?mod=waterfall&action=albums&id={$get:id}&p=" + (++g_page_num),
      data: {},
      oncomplete: function(xmlhttp) {
			  var str = xmlhttp.responseText.replace(/(^\s*)|(\s*$)/g, "");
				if(str != "") {
				  g_waterfall.append_html(xmlhttp.responseText);
          timerout();
        }else {
	        g_waterfall.set_completed();
				}
			}
    })
  },
  });
});

</script>

</body>
</html>
