<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title> {$fields:name} - {$fields:uname/} - wayixia.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{#template resinclude}

<style>
<!--
#album-view {
 position:fixed;
 background:#2a2a2a;
 top:43px;
 left: 0;
 right:0;
 bottom:0;
 overflow:auto;
}

#album-close-button {
	background: red;
	height: 30px;
 
}

//-->
</style>
<script>
<!--
function check_error(img) {
  img.src = '{$themes:path}/icon48.png';
}

Q.album_display = Q.extend({
	hwnd: null,
	display: false,
  sibling: null,
	image_list : null,
  image_view : null,
  old_overflow: null,
  old_scrolltop: 0,
  construct : function(config) {
    var sibling = config.sibling;
    var container = document.body;
    if(sibling && sibling.parentNode) {
      container = sibling.parentNode;
    }
    // main view
    this.hwnd = document.createElement('DIV');
    this.hwnd.id = 'album-view';
    this.hwnd.style.left = sibling.scrollWidth + 'px';
		var close_button = document.createElement('div');
		close_button.onclick = (function(e) {
			return function() { e.close(); };
		})(this)
    close_button.id = 'album-close-button';
		this.hwnd.appendChild(close_button);
		container.appendChild(this.hwnd);
    this.sibling = sibling;
    // image view
    this.image_view = document.createElement('img');
    this.hwnd.appendChild(this.image_view);
  },

  render : function(url, album_id) {
    this.image_view.src = url;
		var _this = this;
		if(!_this.display) {
			_this.old_scrolltop = document.body.scrollTop;
			_this.display = true;
			(new Q.Animate({
        tween: 'cubic',
        ease: 'easyin',
        max: _this.sibling.offsetWidth,
        begin: 0,
        duration: 15,
        bind : function(x) {
					console.log('---------------' + x);
					Q.$('page').style.left = -x + 'px';
          _this.hwnd.style.left = (-x+this.max)+'px';
          _this.hwnd.style.right = -x + 'px';
	        if(x>=document.body.scrollWidth) {
            document.body.style.overflow = 'hidden';
	        }
	      }
			})).play();
		}
	},

	close : function() {
	  var _this = this;
		if(_this.display) {
			_this.display = false;
		}
    var max_width = _this.sibling.scrollWidth;
    _this.sibling.style.left = -max_width + 'px';
    (new Q.Animate({
      tween: 'Cubic',
      ease: 'easyIn',
      max: max_width,
      begin: 0,
      duration: 15,
      bind : function(x) {
        _this.hwnd.style.left = (-x)+'px';
        _this.hwnd.style.right = x+'px';
        _this.sibling.style.left = (this.max-x) + 'px';
        if(x>=max_width) {
          document.body.style.overflow = _this.old_overflow;
          document.body.scrollTop = _this.old_scrolltop;
        }
      }
    })).play();
	},

  onclose : function() {
  
  },
  
});

var obj = null;

function get_album_display() {
  if(!obj)
    obj = new Q.album_display({sibling: Q.$('page')});
   
  return obj;
}
function album_display(id, url) {
  var display = get_album_display();
  display.render(url, id); 
	
	return false;
}

-->
</script>
<script type="text/javascript">
g_page_num = 2;
Q.Ready(function(){

  g_waterfall = new Waterfall({
  "container":"wf-main",
  "colWidth":240,
  "colCount":5,
  "template": '', // Q.$('wf-template').value,
  "animate" : new alpha(),
  "onloaditems" : function(timerout) {
    Q.Ajax({
      command: "{$app:app}?mod=waterfall&action=albums&id={$get:id}&p=" + (++g_page_num),
      data: {},
      oncomplete: function(xmlhttp) {
			  var str = xmlhttp.responseText.replace(/(^\s*)|(\s*$)/g, "");
				if(str != "") {
				  g_waterfall.append_html(xmlhttp.responseText);
          timerout();
        }else {
	        g_waterfall.set_completed();
				}
			}
    })
  },
  });
});

</script>

<body>
{#template user.menubar/}
<br><br>
<div id="main">
  <div id="page">
    <!--div class="main-width"><h3 style="font-size: 16px; font-weight:normal"> 画集 >>  {$fields:name}</h3></div-->
    <div class="main-width" style="background: #FFF">
    </div>
    <br>
    <div class="wf-main" id="wf-main">
      <div class="box wf-cld">
        <div class="user-profile">
          <div class="profile-basic">
          <dl>
            <dt>
            <img src="{$app:host}{$cfg:site.avatar}/user92.{$fields:uid}.jpg"
               style="border:1px solid #CCC;width:92px; height:92px;" onerror="check_error(this);">
            </dt>
            <dd class="name" style="margin-left: 90px;text-indent:10px; color: #F40;overflow:hidden;width:120px;text-overflow:ellipsis;white-space:nowrap">
              <nobr>{$fields:uname func="strtoupper(@this)"/}</nobr>
            </dd>
            <dd class="company"> &nbsp;{$fields:description} </dd>
            <dd>
            </dd>
            <dd class="privacy-set"> <a href="#" >&nbsp;&nbsp;</a> </dd>
            <div style="clear:both">
            <html:list
            id="mydatamenu" 
            datasrc="data://albums_data" 
            keySelected="album_id"
            valueSelected="{$get:id}"
            maskSelected="curr"
          >
          <t:data>
          <a href="{$app:host/}/albums/[field:album_id]">
            <span class="uploadBtn small [field:selected]">[field:album_name] ([field:num_images]) </span>
          </a>
          </t:data>
          </html:list>
          </div>
          </dl>
        </div>
        </div>
      </div>
      {#template waterfall/albums}
    </div>
    <div class="clear"></div>
    {#template user.footer}
  </div>
</div>
<br><br>
</body>
</html>
