<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title> {$fields:name} - {$fields:uname/} - wayixia.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{#template resinclude}
<script>
<!--

function check_width() {
  if(Q.$('tweenimg').width > Q.$('tweenimg').parentNode.offsetWidth) {
    Q.$('tweenimg').style.width = "100%";
  }
}

function check_error(img) {
  img.src = '{$themes:path}/icon48.png';
}

function check_image_width(img) {
  var img_width = img.width;
  var img_height = img.height;
  if(img_width > img_height) {
    img.style.height = "100%"; 
  } else {
    img.style.width = "100%";
  }
}

-->
</script>

<body>

{#template user.menubar/}

<br>
<br><br>
<br>
<div id="main">
  <div id="page">
    <!--div class="main-width"><h3 style="font-size: 16px; font-weight:normal"> 画集 >>  {$fields:name}</h3></div-->
    <div class="main-width" style="background: #FFF">
        <!--dl class="tbox" style="margin:0;margin-top: -5px;"-->
        <!--dt>
          <strong style="color: #333; text-indent:5px;">
            <em class="icon-calendar"></em>挖客
          </strong>
        </dt>
        <dd>
          <ul class="module">
            <li> 
	    <a href="#" target=""></a>
            </li>
          </ul>
        </dd-->
        <!--/dl-->
        <div class="user-profile">
          <div class="profile-basic">
          <dl style="padding:5px 0;">
            <dt>
            <img src="{$app:host}{$cfg:site.avatar}/user92.{$fields:uid}.jpg" style="border:1px solid #CCC;width:92px; height:92px;" onerror="check_error(this);">
            </dt>
	    <dd class="name" style="margin-left: 90px;text-indent:15px;overflow:hidden;text-overflow:ellipsis;">
	      <a href="/user/{$fields:uid}" title="{$fields:uname}" style="color:#FF4400" ><nobr>{$fields:uname/}</nobr></a>
	    </dd>
            <dd class="company"> &nbsp;{$fields:description} </dd>
            <dd></dd>
            <dd class="privacy-set"> <a href="#" >&nbsp;&nbsp;</a> </dd>
          </dl>
        </div>
                
        <div>
        <html:list
          id="mydatamenu" 
          datasrc="data://albums_data" 
          keySelected="name"
          valueSelected="{$v:tag}"
          maskSelected="curr"
        >
        <t:data>
        <a href="{$app:host/}/paintings/[field:id]" >
            <span class="uploadBtn small" style="background:#e0eaf1; border-color: #e0eaf1; color:#3e6d8e;margin: 0px 3px 3px 0px; padding: 0 10px;  width:auto;">
            <span> [field:name] </span></span>
          </a>
	</t:data>
        </html:list>
        </div>
      </div>
    </div>
    <br>
    <div class="wf-main" id="wf-main">
       {#template waterfall/paintings}
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  {#template user.footer}
</div>
<br><br>

<script type="text/javascript">
g_page_num = 3;
Q.Ready(function(){

  g_waterfall = new Waterfall({
  "container":"wf-main",
  "colWidth":240,
  "colCount":5,
  "template": '', // Q.$('wf-template').value,
  "animate" : new alpha(),
  "onloaditems" : function(timerout) {
    Q.Ajax({
command: "{$app:app}?mod=waterfall&action=paintings&aid={$get:aid}&p=" + (++g_page_num),
      data: {},
      oncomplete: function(xmlhttp) {
        g_waterfall.append_html(xmlhttp.responseText);
        timerout();
      }
    })
  },
  });
});

</script>

</body>
</html>
