<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title> {$fields:title/} | wayixia.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="{$themes:path}/lightwindow/prototype.js"></script>
{#template resinclude}
<script src="{$themes:path/}/share.js" ></script>
<script type="text/javascript" src="{$themes:path}/lightwindow/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="{$themes:path}/lightwindow/lightwindow.js"></script>
<link rel="stylesheet" href="{$themes:path}/lightwindow/css/lightwindow.css" type="text/css" media="screen" />
<script>
<!--
function wayixia(id) {
  Q.Ajax({
    command: '{$app:app}&mod=api&inajax=true&action=wayixia&id='+id,
    oncomplete: function(xmlhttp) {
      var resp = Q.json_decode(xmlhttp.responseText);
      if(resp.header == 0) {
        alert('恭喜您，成功地挖到了一张美图哦!');  
      } else if(resp.header == -2) {
        gotologin('http://wayixia.com/?mod=user&action=login');
      } else {
        alert('error code: ' + resp.header + '\nmessage: ' + resp.data);
      }
    },
    onerror: function(xmlhttp) {
    
      alert(xmlhttp.responseText); 
    }
  });
}

function check_width() {
  if(Q.$('tweenimg').width > Q.$('tweenimg-background').offsetWidth) {
    Q.$('tweenimg').style.width = "100%";
  }
}

function check_error(img) {
  img.src = '{$themes:path}/icon48.png';
}

function check_image_width(img) {
  var img_width = img.width;
  var img_height = img.height;
  if(img_width > img_height) {
    img.style.height = "100%"; 
  } else {
    img.style.width = "100%";
  }
}

var tree_items = ['tree_album', 'tree_domain'];
var tree_selected = null;
Q.Ready(function() {
  tree_selected = Q.$('tree_album');
  for(var i=0; i < tree_items.length; i++) {
    var e = Q.$(tree_items[i]);
    if(e) {
      e.onclick = function(evt) {
        for(var i=0; i < tree_items.length; i++) {
          if(Q.$(tree_items[i]) == this) {
            if(tree_selected == this) {
              tree_selected = null;
              Q.$(tree_items[i]+'_content').style.display='none';
              Q.$(tree_items[i]).className='seg-title normalitem'
            } else {
              Q.$(tree_items[i]+'_content').style.display = 'block';
              this.style.backgroundColor='#FFF';
              tree_selected = this;
              this.className='seg-title selectitem'
            }           
          } else {
            Q.$(tree_items[i]+'_content').style.display='none';
            Q.$(tree_items[i]).className='seg-title normalitem'
          }
        }
      }

      e.onmouseover=function(evt){      
        if(tree_selected != this) {
          this.style.backgroundColor='#F8F8F8';
        }
      }

      e.onmouseout=function(evt) {
        if(tree_selected != this) {
          this.style.backgroundColor='#FFF';
        }

      }
    }
  }

  Q.$('btn-wa').onclick = function() {
	  
     Q.Ajax({
      command: '{$app:app}?mod=api&inajax=true&action=wayixia&id='+{$fields:id},
      data: {},
      oncomplete: function(xmlhttp) {
        var resp = Q.json_decode(xmlhttp.responseText);
        if(resp.header == 0) {
          alert('恭喜您，成功地挖到了一张美图哦!');  
        } else if(resp.header == -2) {
          gotologin('http://wayixia.com/index.php?mod=user&action=login');
        } else {
          alert('error code: ' + resp.header + '\nmessage: ' + resp.data);
        }
      },
      onerror: function(xmlhttp) {
        alert(xmlhttp.responseText); 
      }
    }); 
  }

  /*
  Q.$('btn-set-desktop').onclick=function(evt) {
    Q.Ajax({
      command: '{$app:app}&mod=api&inajax=true&action=setdesktop&id={$fields:id}',
      oncomplete: function(xmlhttp) {
        var resp = Q.json_decode(xmlhttp.responseText);
        if(resp.header == 0) {
          alert('设置完成!');  
        } else if(resp.header == -2) {
          gotologin('http://wayixia.com/index.php?app=wayixia&mod=user&action=login');
        } else {
          alert('error code: ' + resp.header + '\nmessage: ' + resp.data);
        }
      },
      onerror: function(xmlhttp) {
        alert(xmlhttp.responseText); 
      }
    }); 
    var evt = evt || window.event;
    if(evt)
     evt.preventDefault();
  }
  */
});

-->
</script>

<body style="background:#f7f5f5;">

{#template user.menubar/}

<br>
<br><br><br><br>

<!--div id="view_arrows">
  {$fields:next}
  {$fields:prev}
</div-->

<div id="main" class="main-width">
<div id="page">
  <!-- left column begin -->
  <div id="left-column">
    <div style="background: #FFF; height:45px;margin-top: 1px; border-bottom: #F1F1F1;line-height: 45px;font-size: 15px;">
      <!--dt style="float: left; width: 88px; ">
      <img src="{$app:host}{$cfg:site.avatar}/user48.{$fields:uid}.jpg" 
      style="border:1px solid #CCC; width:48px;margin:20px 20px 0;" onerror="check_error(this);">
      </dt-->
      <dd style="margin-left: 19px;line-height: 28px; height: 28px;">
        <h3 style="padding-top:20px; margin:0;font-size: 20px; overflow:hidden; width:500px; height:28px;text-overflow:ellipsis;" title="{$fields:title func="htmlspecialchars(@this)"}">
        <nobr>{$fields:title}</nobr>
        </h3>
        <p style="margin: 00px;">
        
          <?php
            $is_from_to = intval($fields_from_id, 10); 
            if($is_from_to > 0) { 
          ?>
          <!--span>采集自画集 <a href="{$cfg:urls.paintings}/{$fields:album_id}">{$fields:album_name}</a> </span-->
          <?php
            } else { 
          ?>
          <!--span>通过 <a href="/help/install">{$fields:agent}</a> 采集 </span-->
          <?php } ?>
        </p>
      </dd>
    </div>
    <div class="clear" style="height: 15px;"></div>
    <div class="panel" style="position:relative;">
      <div class="btn-group">
        <a href="#" class="btn btn-default" id="btn-wa" title="挖一下">挖一下</a>
      </div>
      <div class="btn-group">
        <a href="#" class="btn btn-default" title="更多" caption="{$fields:title}" id="btn-set-desktop"> <b>··· </b> </a>
      </div>
      <div style="position:absolute; right: 13px; top:0;"> 
        <div class="btn-group">
          <a href="http://{$fields:server/}/{$fields:file_name/}" class="lightwindow btn btn-default" rel="wayixia.com" title="图片查看" id="btn-view">
            <span style="background: url({$themes:path}/zoom_in.png) no-repeat center center; ">&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </a>
         </div>
       </div>
       <div class="clear"></div>
     </div>
     <div class="clear"></div>
     <div class="panel" align="center">
        <div id="tweenimg-background" style="position:relative;background: url({$themes:path}/img_bg.png) repeat; line-height:0;">   
          <a href="{$fields:from_url}" target="_blank" title="点击打开来源网页">  
            <img id="tweenimg" src="http://{$fields:server/}/{$fields:file_name/}" onload="check_width()"/>
          </a>
        </div>
        <div class="clear"></div>
    </div>
   <div class="panel">
        <!--dt>
          <strong style="color: #333;text-indent: 5px;">
          <em class="icon-calendar"></em>&nbsp;&nbsp;分享至:
          </strong>
        </dt-->
        <dd>
          <a class="bulk first_item" href="javascript:void(0);" onclick="share2sina();"><span class="pa icon32 icon32_sina"></span></a> 
          <!--a class="bulk"><span class="pa icon32 icon32_qq"></span></a> 
          <a class="share_count"><span title="已累计分享5次">5</span></a-->
          <div id="qqwb_share__" data-appkey="801365852" data-icon="0" data-counter="0" data-content="{$fields:title}" 
            data-pic="http://{$fields:server/}{$fields:file_name/}"></div>
          <script src="http://mat1.gtimg.com/app/openjs/openjs.js#autoboot=no&debug=no"></script>
          <div style="clear:both; height: 10px;"></div>
        </dd>
        <div class="clear"></div>
      </div>
      <br>
      <br>
    </div>
    <!-- left column end -->
    <!-- right column begin -->
    <div id="right-column">
      <DIV class="seg-title selectitem" id="tree_album">
          <p style="color: #333; margin-top: 0px; margin-bottom: 0px;">
            <em class="icon-calendar"></em>
            <a href="{$app:host/}/paintings/{$fields:album_id}">
              {$fields:album_name}
            </a>
          </p>
          <div class="arrow"></div>
      </DIV>
      <dl class="tbox" style="border:0;margin-top:0;"  id="tree_album_content">
        <dd>
          <ul class="module">
            <div class="thumb-domain">
            <html:list id="domain_list" datasrc="data://album_images"> 
            <t:data>
              <a href="{$app:host/}/pins/[field:id]" target="_self">
              <div class="thumb-domain-item" style="background:url(http://[field:server]/thumb/[field:file_name]) 50% 50% no-repeat">
              </div>
              </a>
            </t:data>
            </html:list>
            </div>
          </ul>
          <div style="clear:both; height: 10px;">
        </dd>
      </dl>

      <DIV class="seg-title normalitem" style="border-top: 1px solid #EEE;" id="tree_domain" >
          <p style="color: #333; margin-top: 0px; margin-bottom: 3px;">
            <em class="icon-calendar"></em><a href="{$app:host/}/sites/{$fields:from_host}">来自{$fields:from_host}的分享</a>
          </p>
          <div class="arrow"></div>
      </DIV>
      <dl class="tbox" style="border:0;margin-top:0;display:none" id="tree_domain_content">
        <dd>
          <ul class="module">
            <div class="thumb-domain">
            <html:list id="album_images" datasrc="data://domain_images"> 
            <t:data>
              <a href="{$app:host/}/sites/{$fields:from_host}" target="_self">
              <div class="thumb-domain-item" style="background:url(http://[field:server]/thumb/[field:file_name]) 50% 50% no-repeat">
              </div>
              </a>
            </t:data>
            </html:list>
            </div>
          </ul>
          <div style="clear:both; height: 10px;">
        </dd>
      </dl>
      
      <!-- share buttons -->
      <!--DIV class="seg-title normalitem" style="border-top: 1px solid #EEE;" id="share" >
          <p style="color: #333; margin-top: 0px; margin-bottom: 3px;">
            <em class="icon-calendar"></em>分享至:
          </p>
          < ! - -div class="arrow"></div - ->
      </DIV>
      <dl class="tbox" style="border:0;margin-top:10;" id="share_content">
        <dd>
          <a class="bulk first_item" href="javascript:void(0);" onclick="share2sina();"><span class="pa icon32 icon32_sina"></span></a> 
          <!- -a class="bulk"><span class="pa icon32 icon32_qq"></span></a> 
          <a class="share_count"><span title="已累计分享5次">5</span></a- ->
          <div id="qqwb_share__" data-appkey="801365852" data-icon="0" data-counter="0" data-content="{$fields:title}" 
            data-pic="http://wayixia.com{$app:host/}{$cfg:site.images_dir/}/{$fields:file_name/}"></div>
          <script src="http://mat1.gtimg.com/app/openjs/openjs.js#autoboot=no&debug=no"></script>
          <div style="clear:both; height: 10px;"></div>
    </dd>
         <dd>
          <div style="clear:both; height: 10px;">
        </dd>
      </dl-->
   </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  {#template user.footer}
</div>

</body>
</html>
