<!DOCTYPE html>
<html>
<head>
<title> 挖一下，让更多人分享 |图片|美女|壁纸|片面设计|- www.wayixia.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="{$themes:path/}/all.css" />
<script src="{$themes:path/}/Q.js"></script>
<script src="{$themes:path/}/waterfall.js"></script>
</head>
<body>
{#template user.menubar/}

<br><br>
<br><br>
<div class="wf-main" align="left">
  <div class="btn-group time-limit">
    <a href="{$app:module}" class="btn btn-primary">最新分享</a>
    <a href="/recommend/album" class="btn btn-default">推荐画集</a>
    <a href="/recommend/user" class="btn btn-default">推荐用户</a>
  </div>
</div>
<br>
<div class="wf-main" id="wf-main">
  <!--div class="box wf-cld" style="height:600px;">
    <a href="{$app:host}/helper/whatis" style="font-size:14px;">什么是挖一下?</a>
    <br><br>
    <a href="{$app:host}/helper/install">
      <span class="uploadBtn small" style="width:195px;color:#333;">
      <span> 开始使用 >> </span></span>
    </a>
    <br><br>
  </div-->
  <html:list id="pins" datasrc="data://imagesdata">
  <t:data>    
  <div class="box wf-cld">
  <a href="{$cfg:urls.image/}/[field:id]" target="_self" class="img x">
    <img src="http://[field:server]/thumb/[field:file_name]" width="192" height="[field:height]" alt="">
  </a>
  <p class="description">[field:title]</p>
  <p class="stats less hidden"><span class="RepinsCount"> 1 转采&nbsp;&nbsp;</span></p>
  <div class="convo attribution clearfix">
    <p class="NoImage">
      <a href="{$cfg:urls.image/}/[field:id]" target="_blank">[field:create_time]</a>
    </p>
  </div>
  </div>
  </t:data>
  </html:list>

</div>

<div class="wf-main" align="left">
  {#template footer/}
</div>


<script type="text/javascript">
g_page_num = 3;
Q.Ready(function(){

  g_waterfall = new Waterfall({
  "container":"wf-main",
  "colWidth":240,
  "colCount":5,
  "template": '', // Q.$('wf-template').value,
  "animate" : new alpha(),
  "onloaditems" : function(timerout) {
    Q.Ajax({
      command: "{$app:app}?mod=waterfall&action=index&p=" + (++g_page_num),
      data: {},
      oncomplete: function(xmlhttp) {
        g_waterfall.append_html(xmlhttp.responseText);
        timerout();
      }
    })
  },
  });
});


</script>
</body>
</html>

