<!DOCTYPE>
<html>
<head>
    <title> Rpc helper for Wayixia.Com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="{$app:qlib/}/Q.js">
	<!--
	import thirdparty.SyntaxHighlighter.Scripts.shCore;
	import thirdparty.SyntaxHighlighter.Scripts.shBrushCSharp;
	import thirdparty.SyntaxHighlighter.Scripts.shBrushPhp;
	import thirdparty.SyntaxHighlighter.Scripts.shBrushJScript;
	import thirdparty.SyntaxHighlighter.Scripts.shBrushJava;
	import thirdparty.SyntaxHighlighter.Scripts.shBrushXml;
	import thirdparty.SyntaxHighlighter.Scripts.shBrushPython;
	import thirdparty.SyntaxHighlighter.Scripts.shBrushCss;
	import thirdparty.SyntaxHighlighter.Scripts.shBrushCpp;
	-->
	</script>
    <script>
    <!--
    Q.Ready(function() {
		SyntaxHighlighter.config.clipboardSwf = '/phpkind/qlib/thirdparty/SyntaxHighlighter/scripts/clipboard.swf';
		SyntaxHighlighter.highlight();
	});
    -->
    </script>
    </head>
	<body>
       <div id="wrapper">
            <!-- Header Start-->
            <div id="header" class="mainwidth">
            	<!-- LOGO-->
            	<div id="logo"></div>
				<!-- Menu Start-->
    <div id="menu">
        <div id="menubar" class="mainwidth">
            <ul> 
				<li class='nav_item'><a class="nav_link"> &nbsp;</a></li>
				<li class='nav_item'><a href="/phpkind/index.php?app=cms" class="nav_link">首 页</a></li> 
                
				<?xml version="1.0" encoding="utf-8"?>
<LI class="nav_item"><A href="/test/index.html" target="_self" class="nav_link"><SPAN>插件安装帮助</SPAN></A></LI>
<LI class="nav_item"><A href="/test/chrome/index.html" target="_self" class="nav_link"><SPAN>挖一下</SPAN></A></LI>

    			                
            </ul>
        </div>
    </div>
<!-- Menu End-->
            </div>
            <div id="bar" class="fullwidth">
			</div>
            <!-- Header End -->
        </div>
        
                

	<div id="main">
		<div id="page">
            <div id="left-column">
				<div class="panel" style="border-width:0;margin: 0;padding:0">
					<div id="project"> 
						<h2>关于Q实验室:</h2>
						<p>
						所有项目开源，代码不做任何处理，目的方便大家工作学习。好的程序/代码当然离不开大家的支持，所以您的建议和想法对我们来说非常之重要，请不要吝啬您的建议和想法。
						</p>
						<ul>
							<cms:catelist>
							<li> 
							<a href="projects/bee/" target="_blank"> 
							<img src="{$res:themes}/project_qlib.png"> 
							</a> 
							<a href="[field:link/]" target="_blank"> 
							<strong>[field:category_name/]</strong></a> 
							<br> [field:description/] 
							</li>
							</cms:catelist>
							
							<!--li> 
							<a href="projects/contact/" target="_blank"> 
							<img src="{$res:themes}/project_qlib.png"> 
							</a> 
							<a href="projects/contact/" target="_blank"> <strong>XMLBook</strong></a> 
							<br> 我的联系人（个人人脉管理工具，涉及联系方式、工作信息、照片和生日等等资料；支持 MySQL 、SQLite 方便移植和管理） 
							</li> 
							
							<li> <a href="projects/picture/" target="_blank"> <img src="{$res:themes}/project_qlib.png"> </a> 
							<a href="projects/contact/" target="_blank"> 
							<strong>音乐盒</strong></a>
							<br> 基于 JavaScript 和 PHP 的在线 DIY 图片合成（需要服务器支持 XSLT） 
							</li--> 
						</ul>
					</div>
				</div>
			</div>
			<div id="right-column">
				
				<dl class="tbox">
					<dt>
						<strong style="color: #A00;">
						<em class="icon-calendar"></em>新黑板报
						</strong>
					</dt>
					<dd>
						<ul class="module">
							<cms:doclist size="4"  orderby="date_public" cid="2">
							<li>• <a href="[field:link/]" title="[field:title/]" class="news">[field:title/]</a></li>
							</cms:doclist>
						</ul>
					</dd>
				</dl>
				<!--div class="panel"></div-->
				<dl class="tbox">
					<dt>
	<strong style="color: #333;">
		<em class="icon-calendar"></em>参考手册
	</strong>
</dt>
<dd>
	<ul class="module">
		<li> 
		<a href="/documents/jqueryapi12/index.htm" target="_blank">JQuery中文手册</a>
		</li>
		<li> 
		<a href="/documents/dom2/index.htm" target="_blank">DHTML文档对象模型中文手册</a>
		</li>
		<li>
		<a href="/documents/css2/index.htm" target="_blank">CSS2.0中文手册</a>
		</li>
		<a href="/documents/css2/index.htm" target="_blank">默认行为中文手册</a>
		</li>
	</ul>
</dd>
<!--h3>参考手册</h3>
<p>
	<a href="/documents/jqueryapi12/index.htm">JQuery中文手册</a> <br/>
	<a href="http://mysql.com">Javascript</a><br/>
	<a href="http://alexgorbatchev.com/">CSS 3</a><br/>
	<a href="/documents/dom2/index.htm">DHTML文档对象模型中文手册</a><br/>
	<a href="http://mysql.com">MySQL</a>
	<a href="http://alexgorbatchev.com/">SyntaxHighlighter</a>	
	<a href="http://php.net">PHP</a>
	<a href="http://mysql.com">MySQL</a>
	<a href="http://alexgorbatchev.com/">SyntaxHighlighter</a>
</p-->

				</dl>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		                    <div id="footer" class="tableheader">
					<hr class="hide">

<p>
	Powered By <a href="http://www.qlibs.com">QLibs.com</a>. All Rights Reservered. [
	<script src="http://s14.cnzz.com/stat.php?id=3271244&web_id=3271244" language="JavaScript"></script>]
</p>
</div>
            </div>
		</div>
    </div>

	</div>
</body>
</html>
