	<div id="headhld" style="display: block;"> 
	  <div class="plzhld">
		<div class="mod-head" id="1000000" style="display: block;">
		  <div class="info-left  user-online"> 
			<div class="portrait">
			  <img height="110" width="110" class="portrait-img" src="http://himg.bdimg.com/sys/portrait/item/a0a370616e656c776f726b3204.jpg">
			  <span></span> 
			</div> 
			<span class="picicon"></span> 
		  </div> 
		  <div class="info-right"> 
			<div class="user-name clearfix"> 
				<h2 class="yahei">{$fields:username/}</h2>  
			</div> 
			<div class="user-info clearfix">    
				<div class="info">上次登录时间：{$fields:lastlogin_time/}</div>
				<div class="liveaddr info" title="">现居上海</div>  
				<div class="birthaddr info" title="">出生于中国</div>   
				<div class="edu info" title="">就读于中国</div>   
			</div> 
			<p class="personal-url"> 
			  <span class="url-desc">个人网址：www.wayixia.com/{$fields:username/}</span> 
			  <a class="detail-link" href="#">查看更多资料&gt;&gt;</a> 
			</p>  
			<a href="#" id="userpanelChangeSkin" class="skin-setting-btn log-skin-setting bdown">&nbsp;</a>
		  </div>
		</div>
	  </div>
	</div>