  <html:list id="pins" datasrc="data://imagesdata">
  <t:data>	  
  <div class="box wf-cld">
    <a href="{$cfg:url.image}/[field:id]" onclick="return album_display([field:id], 'http://[field:server]/[field:file_name]');"
      target="_self" class="img x">
    <img src="http://[field:server]/thumb/[field:file_name]" width="230" height="[field:height]" alt="">
  </a>
  <p class="description" style="font-size:14px;">[field:title]</p>
  <p class="stats less hidden"><span class="RepinsCount"> 1 转采&nbsp;&nbsp;</span></p>
  </div>
  </t:data>
  </html:list>


