<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title> {$fields:title} 发布 Powered By PHPKind </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- 使用QLib控件是必须包含样式表 -->
<link type="text/css" rel="stylesheet" href="{$app:qlib}/ui.css" />
<link type="text/css" rel="stylesheet" href="{$themes:path}/style.css" />
<script src="{$app:qlib}/Q.js">
<!--
import utils.tween;
import utils.stl;
import utils.json2;
import utils.ajax;
import utils.xml;
import ui.wndx-1-0-2;
-->
</script>
<script src="{$themes:path}/common.js"></script>
<script>
<!--

var SELECTNONE    = 0;
var SELECTALL     = 1;
var SELECTREVERSE  = 2;

function doSelectItem(type){
  var f=Q.$('form1');
  var cids = [];
  var nodelist = f["task_id[]"];
  if(type == SELECTREVERSE) {
    for(var i=0; i < nodelist.length; i++ ) {
      nodelist[i].checked = !nodelist[i].checked;
    }
  } else {
    var value = (type == SELECTALL) ? true : false;
    for(var i=0; i < nodelist.length; i++ ) {
      nodelist[i].checked = value;
    }
  }
}


Q.Ready(function() {

Q.setdebug(Q.$('debug'));
Q.debug(true);

Q.$('button-public').onclick=function(){
  //<input name="title[]" type="hidden" value="[field:title]">
  //<input name="pageUrl[]" type="hidden" value="[field:pageUrl]">
  //<input name="imgSrc[]" type="hidden" value="[field:imgSrc]">
  //<input name="album_id[]" type="hidden" value="[field:album_id]">
  
  var f = Q.$("form1");
  var items = f["task_id[]"];
  var items_title = f["title[]"];
  var items_pageUrl = f["pageUrl[]"];
  var items_imgSrc = f["imgSrc[]"];
  var items_album_id = f["album_id[]"];

  var len = items.length;
  var tasks = [];
  for(var i=0; i < len; i++ ) {
    if(items[i].checked && !items[i].disabled) {
      var album_id = parseInt(items_album_id[i].value, 10);
      if(album_id > 0) {
        tasks.push({img: {
          pageUrl : items_pageUrl[i].value,
          srcUrl : items_imgSrc[i].value, 
          cookie : document.cookie,
          title : items_title[i].value,
          album_id : items_album_id[i].value,
        }});
      } else {
        Q.printf(items_title[i].value+" public id is error! "+items_album_id[i].value );
      }
    }
  }
  //var json_data = {};
  //json_data.pageUrl = location.href;
  //json_data.srcUrl = inner_img.src, 
  //json_data.cookie = document.cookie,
  //json_data.title = document.title,
  //json_data.album_id = 0;
  //img: json_data

  if(tasks.length < 1) {
    Q.printf('没有任务');
    return;
  }

  task_execute({
    'api' : 'http://wayixia.com:8080/getimage',
    'tasks' : tasks,
    'withCredentials': true,
    'task_onok' : function(task, response) {
      if(response && response.header == 0) {
        Q.printf('public ok');
      }
    },
    'task_oncompleted' : function() {
      Q.printf('public task_oncompleted');
    }  
  });
}

Q.$("form1").onsubmit = function() {
  return false;
}

var chkAll = Q.$('idCheckAll');
  if(chkAll) {
        chkAll.onchange = function() {
            if(this.checked) {
                doSelectItem(SELECTALL);
            } else {
                doSelectItem(SELECTNONE);
            }
        }
}
});

//-->
</script>

<body>
<h4>
	预发布画集 <font color="#FF00FF">{$fields:title}</font>

</h4>
<form id="form1">
<html:table 
  id="mydata2" 
  datasrc="data://publicdata" 
  pagesize="15"
  cellpadding="3" 
  cellspacing="1"
  class="clsGrid"
  valueSelected="key:value"
>
<thead style="background:red; color:white;">
<th width="20" align="left"><input id="idCheckAll" type=checkbox></th>
<th width="300" align="left">title</th>
<th width="400" align="left">imgSrc</th>
</thead>
<t:data>
<tr 
onmouseover="this.style.backgroundColor='#F1F1F1';"
onmouseout="this.style.backgroundColor='';"
>
<td align="left">
  <input name="task_id[]" type="checkbox" value="[field:id]">
</td>
<td>
  <input name="title[]" type="hidden" value="[field:title]">
  <input name="pageUrl[]" type="hidden" value="[field:pageUrl]">
  <input name="imgSrc[]" type="hidden" value="[field:imgSrc]">
  <input name="album_id[]" type="hidden" value="[field:album_id]">
  [field:title]
</td>
<td>[field:imgSrc]</td>
</tr>
</t:data>
</html:table>
</form>
<br>
<div class="pager">  {$fields:pager}  </div>
<br>
<button id="button-public">发布</button>
<br>
<br>
<div id="debug" style="background: yellow;height: 260px;overflow: auto;">

</div>

</body>
</html>
