@charset "utf-8";

.regtop{
	height:100px;
	background:url(logo.png) left center no-repeat;
}
.regtop ul{
	float:right;
	padding-top:20px;
	overflow:hidden;
	height:14px;
	line-height:14px;
}
.regtop ul li{
	float:left;
	height:14px;
	border-left:1px solid #CCC;
	margin-left:-1px;
	padding-left:10px;
	padding-right:10px;
}

.regtop ul li a{
	text-decoration:underline;
}

.regtitle{
	height:32px;
	line-height:31px;
	color:#FFF;
	text-indent:12px;
	letter-spacing:2px;
	background:url(reg_title_bg.gif);
}

.regmain{
	width:100%;
	margin-top:20px;
	float:right;
}
.regmain .left{
	margin-right:336px;
	overflow:visible;
}
* html .regmain .left{/*IE6下3px文本慢移hack*/
	height:1em;
	margin-right:333px;
}
.regmain .left table * td{
	padding:8px;
}
.regmain .left table * td p{/*表格内容:列表:段落*/
	line-height:21px;
}
.regmain .left table * td small{ /*表格内容:列表:注释性文字*/
	color:#888;
	font-size:12px;
	overflow:hidden;
}
.regmain .left table * td img{
	vertical-align:middle;
}
.regmain .left table * td .msg{
	color:#F00;
}
.regmain .left table * .td1{
	width:130px;
	text-align:right;
	vertical-align:top;
	line-height:31px;
	font-size:14px;
	color:#777;
}
.regmain .left table * td label{
	font-size:12px;
	color:#333;
}
.regmain .right{
    margin-right:20px;
	width:262px;
	float:right;
	background: #dfebff;
	border:1px solid #59677f;
	padding:10px;
}
.regmain .right dl{

}
.regmain .right dl dt{
	line-height:15px;
	font-weight:bold;
	letter-spacing:1px;
}
.regmain .right dl  dd{
	line-height:23px;
	text-indent:20px;
	letter-spacing:1px;
	margin-top:10px;
	color:#777;
}
