

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin:0;
	padding:0
}

html {
	color:#000;
	overflow-y:scoll;
	overflow:-moz-scrollbars-vertical
}

body,button,input,select,textarea {
	font-size:12px;
	font-family:arial,\5b8b\4f53,sans-serif
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%
}

em {
	font-style:normal
}

small {
	font-size:12px
}

ul,ol {
	list-style:none
}

legend {
	color:#000
}
fieldset,img {
	border:0
}
button,input,select,textarea {
	font-size:100%
}
table {
	border-collapse:collapse;
	border-spacing:0
}
img {
	-ms-interpolation-mode:bicubic
}
textarea {
	resize:vertical
}
.clearfix:after {
	content:'\20';
	display:block;
	height:0;
	clear:both
}
.clearfix {
	zoom:1
}
.wordwrap {
	word-break:break-all;
	word-wrap:break-word
}
pre.wordwrap {
	white-space:pre-wrap
}
.yahei {
	font-family:"microsoft yahei","\5FAE\8F6F\96C5\9ED1",Tahoma,Arial,Helvetica,STHeiti
}
.dotted-bottom {
	border-bottom:dotted 1px #ddd
}
.displaynone {
	display:none
}
html {
	overflow-y:scroll
}

#wrapper {
	width:100%;
	position:relative;
	overflow:hidden
}

#head {
	width:100%
}

#content {
	box-shadow:0 1px 3px 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 3px 2px rgba(0,0,0,.2);
	-webkit-box-shadow:0 1px 3px 2px rgba(0,0,0,.2);
}

#content, #foot {
	width:990px;
	margin:0 auto
}

#foot {
height: 40px; text-align:center;line-height:40px;
}

.songti {
	font-family:\5b8b\4f53
}

.invisible {
	visibility:hidden
}

#cnthld {
	width:990px;
	position:relative;
	_margin-top:-35px
}

#cnthld .content-tab {
	height:39px;
	position:relative;
	padding-top:42px;
	background:transparent url(../img/tab_bg_6cd047bc.png) repeat-x 0 0;
	padding-left:20px;
	border-right:0px solid #c7d8ee;
	border-left:0px solid #c7d8ee
}

.content-tab .beibao-tab {
	border-width:1px 1px 0 1px
}

.content-tab li {
	float:left;
	border-width:1px 1px 0 0;
	border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	border-style:solid;
	border-color:#c4cdd6;
	background-color:#f7f7f7
}

.content-tab .tab-title .tab-title-tag {
	display:none
}


#cnthld .content-tab .tab-title {
	display:inline-block;
	padding:0 20px;
	height:38px;
	line-height:38px;
	color:#555;
	font-size:14px;
	font-weight:bold
}

.other-products .rightside,.beibao .rightside {
	display:none
}

.other-products .leftside,
.beibao .leftside, 
.settings .leftside,
.tieba .leftside
{
	width:100%;
	border-right:0 none
}


#cnthld .content-tab .tab-title:hover {
	text-decoration:none
}
#cnthld.beibao .beibao-tab,#cnthld.settings .settings-tab,#cnthld.tieba .tieba-tab,#cnthld.zhidao .zhidao-tab,#cnthld.space .space-tab,#cnthld.wenku .wenku-tab,#cnthld.xiangce .xiangce-tab,#cnthld.baike .baike-tab {
    background-color:#F60;
  border-color:#F60

}
#cnthld.beibao .content-tab .beibao-tab .tab-title,#cnthld.settings .content-tab .settings-tab .tab-title,#cnthld.tieba .content-tab .tieba-tab .tab-title,#cnthld.zhidao .content-tab .zhidao-tab .tab-title,#cnthld.wenku .content-tab .wenku-tab .tab-title,#cnthld.xiangce .content-tab .xiangce-tab .tab-title,#cnthld.space .content-tab .space-tab .tab-title,#cnthld.baike .content-tab .baike-tab .tab-title {
	color:#fff
}
#cnthld.beibao .content-tab .beibao-tab .tab-title .tab-title-tag,#cnthld.settings .content-tab .settings-tab .tab-title .tab-title-tag,#cnthld.tieba .content-tab .tieba-tab .tab-title .tab-title-tag,#cnthld.zhidao .content-tab .zhidao-tab .tab-title .tab-title-tag,#cnthld.wenku .content-tab .wenku-tab .tab-title .tab-title-tag,#cnthld.xiangce .content-tab .xiangce-tab .tab-title .tab-title-tag,#cnthld.space .content-tab .space-tab .tab-title .tab-title-tag,#cnthld.baike .content-tab .baike-tab .tab-title .tab-title-tag {
	display:inline
}
.col {
	float:left
}
.cnthld-main {
	background-color:#f1f4f6;
	border-style:solid;
	/*border-color:#6699c9 #c7d8ee #c7d8ee;*/
	border-color:#F60 #c7d8ee #c7d8ee;
	border-width:2px 0px 0px;
	min-height:500px;
	position:relative;
	_height:500px;
	*position:static
}
.p1 {
	padding:20px
}
.p2 {
	padding:10px
}
.p3 {
	padding:15px 0 12px 0
}
.p4 {
	padding:15px 0 12px
}
.b1 {
	border-bottom:solid 1px #f2f2f2
}
.b2 {
	border-top:solid 1px #f2f2f2
}
.headline {
	font-size:14px;
	color:#666
}
.leftside {
	min-height:500px;
	_height:500px;
	background-color:#fff;
	border-right:#eee solid 1px;
/*	box-shadow:1px 0 #e7ecf0,2px 0 #eef2f4;
	-moz-box-shadow:1px 0 #e7ecf0,2px 0 #eef2f4;
	-webkit-box-shadow:1px 0 #e7ecf0,2px 0 #eef2f4;
*/	width:748px;
	position:relative
}
.rightside {
	width:227px
}
.leftside-shadow {
	display:none;
	height:100%;
	position:absolute;
	top:0;
	right:-2px;
	width:0;
	border-left:#e7ecf0 1px solid;
	border-right:#eef2f4 1px solid;
	overflow:hidden;
	display:block\9
}
.beibao .leftside-shadow,.other-products .leftside-shadow {
	display:none
}
.online {
	background:url(../img/sprite_green/online_33f2403c.png) no-repeat;
	height:22px;
	line-height:22px;
	padding-left:17px
}
.offline {
	background:no-repeat;
	height:22px;
	line-height:22px;
	padding-left:17px;
	background-position:0 -344px
}
.info-left .picicon {
	border-top:2px solid #fff;
	border-left:2px solid #fff;
	bottom:9px;
	right:10px
}
.username-menu .bdown {
	border-bottom:1px solid #ebebeb
}
.mod-banner .itb_i_small {
	font-size:14px;
	font-family:'宋体';
	font-weight:bold
}
.rightside .split {
	overflow:hidden;
	height:0;
	margin:20px 0;
	border-color:#dde3e9 #fff #fff;
	border-style:dotted;
	border-width:1px 0
}
.active-tab {
	color:#333
}
.inactive-tab {
	color:#666
}
.follows .slide,.follows .hover {
	left:0;
	width:56px
}
.tab-follows:hover~.hover {
	left:0;
	width:56px
}

100% {
	background-position:-39px -48px
}

#aside {
	float:right;
	width:55px;
	_position:relative;
	margin-top:40px
}
.fixed {
	position:fixed;
	_position:absolute;
	top:20px
}
.settings {
	}.settings .settings-level {
	height:114px;
	padding:10px 20px 0;
	background:url(../img/reward_level_bg_74273ebb.png) bottom repeat-x
}
#head {
	z-index:20;
	position:relative
}
#content .content-tab {
	z-index:11;
	position:relative
}
.content-tab .settings-tab {
	position:relative
}

.content-tab li,.mod-tieba-feed .item-reply .feed-image-item img,.mod-tieba-honor .honor-item,.mod-space-article .imgbox-large .articleimg,.cat-title-cntainer-remain,.cat-title-cntainer,.timeline-rec .lightblue,.timeline-rec .lightgray,.timeline-rec .timeline-rec-cnt .spe-label,.settings-item .item-left .item-img,.cur-item .item-img,.mod-right-nav {
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box
}

#user-title-bar {
	position:fixed; 
	left:0;top:0;right:0; 
	height: 38px;
	line-height:38px; 
	z-index:999999999999991;
	background:#59677f;
	opacity: 0.9;
	color:#FFF;
	text-align:left;
	font-size:12px;
	box-shadow: 0 -1px 0 #59677f inset,0 0 16px rgba(0,0,0,.15);
}

#user-title-bar-background {
	position:fixed; 
	left:0;top:0;right:0; 
	height: 38px;
	line-height:38px; 
	background:#59677f;
	color:#FFF;
	cursor:default;
	opacity: 0.9;
	text-align:left;
	font-size:12px;
}


.nav-menu {
	height:40px;
/*background:url(logo-small.png) left -2px no-repeat;*/
}

.nav-menu ul {

}

.nav-menu ul li.nav_item {
  float:left;
  height:38px;
  line-height:38px;
  border-left:0px solid #CCC;
  margin-left:-1px;
  padding-left:10px;
  padding-right:10px;
}

.nav-menu ul li.nav_item > a, .nav-menu ul li.nav_item > a:visited {
  color: #F1F1F1;
  font-size:13px;
  text-decoration:none;
}

.nav-menu ul li > a:hover {
  color: #FFF;
  font-size:13px;
  text-decoration: none;
}

/* user setting drop menu */
.user-setting {
  position: relative;;
  width: 20px;
  padding: 0;
  background:  url(user.png) -3px top no-repeat;
}

.user-setting:hover {
  width:20px;
  background: #FFF url(user.png) -43px top no-repeat;
  margin-left: 2px;
  box-shadow:0 1px 3px rgba(0,0,0,.3);
  -moz-box-shadow:0 1px 3px rgba(0,0,0,.3);
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,.3)
}

.user-setting dt {
  display: none;
}

.user-setting:hover dt {
  background: #FFF;
  display: block;
  width: 110px;
  position:absolute;
  right: 0; 
  top: 38px;
  border-left: #FF9900 solid 5px;
  margin-left: 2px;
  box-shadow:0 1px 3px rgba(0,0,0,.3);
  -moz-box-shadow:0 1px 3px rgba(0,0,0,.3);
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,.3)
}

.user-setting dt dl a, .user-setting dt dl a:visited {
  color: #999;
  font-weight:bold;
  display:block;
  text-indent: 10px;
}

.user-setting dt dl a:hover {
  color: #000;
  background: #F1F1F1;
  display:block;
  text-decoration: none;  
}

/* user setting drop menu end */

/*CSS page style pagination*/

DIV.pager {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-SIZE: 15px; 
	PADDING-BOTTOM: 10px; 
	COLOR: #48b9ef; 
	PADDING-TOP: 10px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	BACKGROUND-COLOR: #fff; 
	TEXT-ALIGN: left;
	text-indent:5px;
}

DIV.pager A {
	BORDER: #f0f0f0 2px solid;
	PADDING-TOP: 8px; 
	PADDING-RIGHT: 12px; 
	PADDING-BOTTOM: 8px; 
	PADDING-LEFT: 12px; 
	MARGIN: 0px 2px; 
	COLOR: #48b9ef; 		
	TEXT-DECORATION: none
}

DIV.pager A:hover {
	BORDER: #ff5a00 2px solid; COLOR: #ff5a00;
}
DIV.pager A:active {
	BORDER: #ff5a00 2px solid; COLOR: #ff5a00;
}
DIV.pager SPAN.current {
	PADDING-TOP: 8px; 
	PADDING-RIGHT: 12px; 
	PADDING-BOTTOM: 8px; 
	PADDING-LEFT: 12px; 
	MARGIN: 0px 2px 0px 0px;
	BORDER: #ff5a00 2px solid; 
	BACKGROUND-COLOR: #ff6c16;
	
	COLOR: #fff;  
}

DIV.pager SPAN.disabled {
	DISPLAY: none
}

/* start button drop menu */
.start-button {
  position: relative;;
  width: 300px;
  padding: 0;
  background: url(logo-small.png) -3px -43px no-repeat;
}

.start-button:hover {
  width:300px;
  background: url(logo-small.png) -3px top no-repeat;
  margin-left: 2px;
}

.start-button a, .start-button:visited {
  display:block;
}

.start-button dt {
  display: none;
}

.start-button:hover dt {
/*  background-color: #59677f; */
  background-color: #FFF;
  display: block;
  border-left: 5px #FF9900 solid;
  width: 400px;
  height: 250px;
  position:absolute;
  left: 0; 
  top: 38px;
  margin-left: 2px;
  box-shadow:0 1px 5px rgba(0,0,0,.3);
  -moz-box-shadow:0 1px 5px rgba(0,0,0,.3);
  -webkit-box-shadow:0 1px 5px rgba(0,0,0,.3);
/* box-shadow:0 1px 3px rgba(0,0,0,.3);
  -moz-box-shadow:0 1px 3px rgba(0,0,0,.3);
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,.3)
*/
}

.start-button dt dl a, .start-button dt dl a:visited {
  color: #999;
  /*font-weight:bold;*/
  display:block;
  text-indent: 10px;
}

.start-button dt dl a:hover {
  color: #000;
  display:block;
  text-decoration: none;  
}

/* start button drop menu end */

.login-buttons {
  background: #FFF;
}

.login-buttons li {
  display: inline;  
  font-size: 14px;
  line-height: 30px;
}

.login-buttons li s {
  background-image: url(mini_open_login.png);
  overflow: hidden;
  position: absolute;
  background-repeat:no-repeat;
  margin-top: 4px;
  width:24px;
  height:24px;
}

.login-buttons li span {
  margin-left: 28px;
}

.icon_sina_login s {
  background-position: 0 0; 
}

.icon_qq_login s
{
  background-position: -100px 0;
}

.album-icons {
  background: url(album_icons.png);
  width: 16px; 
  height: 16px;
  overflow:hidden;
  border: 0;
  float:right;
  opacity: 0.7;
  margin-top:10px;
  margin-right: 6px;
}

a.album-icons:hover {
  opacity: 1;
}

.album-icons-edit {
  background-position: 0 0;
}

.album-icons-check {
  background-position: -16px 0;
}

.album-icons-delete {
  background-position: -32px 0;
}

.check-button {
  border:0;
  padding-left: 23px;
  height: 21px;
  color: #999;
}

.check-button:hover {
  color: #000;
}

.checked {
  background: url(checked.png) no-repeat left 2px;

}

.unchecked {
  background: url(unchecked.png) no-repeat;
}

.action-bar {
  background: #FCFCFC; 
  height: 50px; 
  line-height:50px;
  position:relative;
}

.action-bar p {
  text-indent:20px; line-height:50px;
}

.action-bar p, .action-bar p a {
  font-size: 15px;
}

.action-bar p b {
  font-size: 15px;
}


/* avatar layout */
.regmain{
	width:100%;
	margin-top:20px;
	float:right;
}
.regmain .left{
	margin-right:336px;
	overflow:visible;
}
* html .regmain .left{/*IE6下3px文本慢移hack*/
	height:1em;
	margin-right:333px;
}
.regmain .left table * td{
	padding:8px;
}
.regmain .left table * td p{/*表格内容:列表:段落*/
	line-height:21px;
}
.regmain .left table * td small{ /*表格内容:列表:注释性文字*/
	color:#888;
	font-size:12px;
	overflow:hidden;
}
.regmain .left table * td img{
	vertical-align:middle;
}
.regmain .left table * td .msg{
	color:#F00;
}
.regmain .left table * .td1{
	width:130px;
	text-align:right;
	vertical-align:top;
	line-height:31px;
	font-size:14px;
	color:#777;
}
.regmain .left table * td label{
	font-size:12px;
	color:#333;
}
.regmain .right{
    margin-right:20px;
	width:262px;
	float:right;
	background: #dfebff;
	border:1px solid #59677f;
	padding:10px;
}
.regmain .right dl{

}
.regmain .right dl dt{
	line-height:15px;
	font-weight:bold;
	letter-spacing:1px;
}
.regmain .right dl  dd{
	line-height:23px;
	text-indent:20px;
	letter-spacing:1px;
	margin-top:10px;
	color:#777;
}
/* avatar layout */
