/*----------------------------------------------------
 $ ui framework style sheet
 $ author: LovelyLife
 $ date: 20110409
------------------------------------------------------*/

/* globals */

html { margin: 0px; padding: 0px; height: 100%; border:none; }

.alpha_0 {filter:alpha(opacity=0); -moz-opacity:0.0;-khtml-opacity: 0.0;opacity: 0.0;}
.alpha_1 {filter:alpha(opacity=10);-moz-opacity:0.1;-khtml-opacity: 0.1;opacity: 0.1;}
.alpha_2 {filter:alpha(opacity=20);-moz-opacity:0.2;-khtml-opacity: 0.2;opacity: 0.2;}
.alpha_3 {filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity: 0.3;opacity: 0.3;}
.alpha_4 {filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity: 0.4;opacity: 0.4;}
.alpha_5 {filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.alpha_6 {filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity: 0.6;opacity: 0.6;}
.alpha_7 {filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;}
.alpha_8 {filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.alpha_9 {filter:alpha(opacity=90);-moz-opacity:0.9;-khtml-opacity: 0.9;opacity: 0.9;}
.alpha_10{filter:alpha(opacity=100);-moz-opacity:1.0;-khtml-opacity: 1.0;opacity: 1.0;}


/*------------------------------------------------------
 $ window style
--------------------------------------------------------*/

.clsWindows { position:absolute; top:400px; -webkit-box-shadow: 0px 5px 30px #505050; background:#fff; overflow:hidden; margin:0 auto; padding:0; cursor:default; height:200px;min-width: 200px;border:1px outset #EEE;filter:progid:DXImageTransform.Microsoft.Shadow(color=#CCCCCC, Strength=3, Direction=135);z-index:10000;}
.clsWindows .clsActiveTitle {position:relative; margin:0; padding:0;height:30px;line-height:30px; background: #6d84C4; font-size:13px; color:white; white-space:nowrap; border:0px solid #666; border-bottom-width: 0;}

/*
.clsActiveTitle .clsTitleCtrlBar { width:90px; height:30px; line-height: 30px;text-align: right;	overflow: hidden; background: yellow;margin:0; padding:0;}
.clsActiveTitle .clsTitleContent { height:30px; line-height: 30px; overflow: hidden; background: blue;margin:0; padding:0;}
*/
.clsWindows .clsActiveTitle {position:relative; margin:0; padding:0;height:30px;line-height:30px; background: #6d84C4; font-size:13px; color:white; white-space:nowrap; border:0px solid #666; border-bottom-width: 0; cursor: default;}
.clsWindows .clsNoActiveTitle {position:relative; margin:0; padding:0;height:30px;line-height:30px; background: #999999; font-size:13px; color:white; white-space:nowrap; border:0px solid #666; border-bottom-width: 0; cursor: default;}

.clsTitleContent{ margin-right:70px; height:100%; overflow:hidden; text-indent: 5px; text-overflow:ellipsis; /*background-color:#00FF66;*/ color:white;cursor: default;}
.clsTitleCtrlBar{ position:absolute; width:70px; overflow:hidden; height:100%; top:0; right:0; text-align:right; /*background:#fd3500;*/}


.clsTitleCtrlBar span {margin-right:5px; color: #000; padding:0; width:17px; height:30px; font-family:Webdings; background:none; border-width:0; font-size:12px; text-align:center; vertical-align:middle; }
.clsTitleCtrlBar .clsCtrlButtonOver { color: #FFF;}
.clsTitleCtrlBar .clsCtrlButtonOut {}

.clsIcon {float:left; width:15px; height:18px; margin-left:6px; margin-right:3px;margin-top: 6px;}
.clsMaskWindow {position:absolute; background: #000000; display:; z-index:10001;}
.clsClientArea {width:100%;overflow: hidden;position:relative;display:block;margin:0;padding:0;text-align: left;background: #FFF;}
.clsBottomBar {height:30px; line-height:30px; text-align:right;background: #F1F1F1;border-top: 1px solid #e0e0e0; font-size: 13px;}
.clsDragWindow {position:absolute;display:none;background:blue;cursor:default;}


/*------------------------------------------------------
 $ context menu style
--------------------------------------------------------*/

.clsContextMenu {
	position:absolute;
	display: none;
	background: #FFF;
	padding: 2;
	width: 200px;
	border: 1px solid #999;
	z-Index: 10000;
	text-align: left;
	/*filter:progid:DXImageTransform.Microsoft.Shadow(color=#999999, Strength=2, Direction=135);*/
}

.clsMenuItemOut {
	width: 100%;
	padding: 4px 4px 4px 5px;
	display: block;
	background: white;
	color: #000;
	text-align: left;
}

.clsMenuItemOver {
	background: #369;
	color: white;
	width: 100%;
	padding: 4px 4px 4px 5px;
	display: block;
	text-align: left;
}

/* button system */
.sysbtn {
	background: #3b5998;
	border-width: 1px;
	border-style: outset;
	color: white;
	height: 24px;
    line-height: 24px;
	padding: 0 10px ; 
	margin-right: 5px;
}

.syscancelbtn { 
	background:#EEE; 
	border-width:1px; 
	border-style:outset;
	color:#333; 
	height:24px;
	margin:2px; 
	line-height:24px;
}

.sysinput { 
	border:1px solid #CCC;	
	color:#3b5998;
	height: 20px;
}

.bottomLine { 
	border-bottom: 1px solid #CCC; 
}

/* simple tree  */
.simpletree_container { 
	zoom:1;
	overflow:auto;
	height: 100%;
	margin: 0; 
	padding: 0;
	border:0;
}

.simpletree, .simpletree *{ 
	margin: 0; 
	padding: 0;
	border:0;
}

.simpletree li {
position:relative;
}

.simpletree li a  {
    text-decoration: none;
    display: block;
    padding-left: 23px;
    position: relative;
    zoom: 1;
    white-space: nowrap;
}

.simpletree li a:hover  {
    text-decoration: none;
    display: block;
    padding-left: 23px;
    position: relative;
    zoom: 1;
    white-space: nowrap;
    background: #ffffcc;
}

.simpletree .expand {
    position:absolute;
    left:0;
    cursor: pointer;
    padding: 0;
    width: 21px; 
    height:21px;
    margin: auto 0; 
    white-space: nowrap;
    z-index: 2;
}

.simpletree .child {
    background: url(images/tree/child.png) no-repeat top left; 
}

.simpletree .last_child {
    background: url(images/tree/lastchild.png) no-repeat top left; 
}

.simpletree .expand_on {
    background: url(images/tree/expand_on.png) no-repeat top left; 
}

.simpletree .expand_off {
    background: url(images/tree/expand_off.png) no-repeat top left; 
}

.simpletree .last_expand_on {
    background: url(images/tree/lastexpand_on.png) no-repeat top left; 
}

.simpletree .last_expand_off {
    background: url(images/tree/lastexpand_off.png) no-repeat top left; 
}

.simpletree .icon {
    position: absolute;
    top: 0;
    width: 18px;
    height: 20px;
	background-repeat: no-repeat;
	background-position: left center;
}

.simpletree .default {
	background-image: url(images/tree/icon.png);
}

.simpletree .textNode {
    padding-left:20px;
    cursor: default;
}

.moveline {
	position: absolute;
	border: 1px solid #000;
	z-Index: 1000;
}

/*--- tab/property components part start ---*/

.tabs {
	float:left;
	font-size:12px;
	line-height:normal;
	font-weight: bold;
}

.tabs ul {
	margin:0;
	width: 100%;
	padding-bottom: 1px;
	background-position-y: 0;
	border: 1px solid red;
	list-style:none;
	white-space: nowrap;
	overflow: auto;
	background:url(images/header.var.jpg) repeat-x bottom ;
}

.tabs li {
	margin:0 2px 0 0;
	text-align: center;
	float:left;	
	text-decoration:none;
	height: 32px;
	width: 98px;
	display:block;
	padding:10px 10px 7px 10px;
}

.tabElementNormal {
	color:#e6f7ff;
	background:url(images/channelbg.jpg) repeat-x right bottom;

}

.tabElementActive {
	color: Gray;
	width: 98px;
	background: url("../images/channelseled.jpg") repeat-x;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.tabs a span {float:none;}
/* End IE5-Mac hack */

.tabs a:hover span {
	color:#666;
	background-position: 0  0px;
}

.tabs a:hover {
	/*background-position:0% -42px;*/
	height: 32px;
	background: url(images/channelseled.jpg) repeat-x;
}

.tabs a:hover span {
	/*background-position:100% -42px;*/
	cursor: pointer;
	background: url(images/channelseled.jpg) repeat-x;
}


.clientArea {
    width: 100%;
    border: 1px solid #A2D5F2; 
    border-top: 0px solid #A2D5F2;	
}
/* property end */

/* jtable control */
.jtable_hwnd TD {FONT-size: 13px; CURSOR: default;}
.jtable_hwnd { text-align:left; border:1px solid #99bbe8; border-top:0px solid #99BBE8; overflow:hidden;}
	.jtable_titlebar {background: white URL(images/jtable/grid_title.gif) repeat-x left top; font-weight: bold; color: #15428B; padding: 7px 3px 3px 1px; height: 18px; width: 100%;OVERFLOW: hidden; WHITE-SPACE: nowrap; text-overflow:ellipsis;}
	.jtable_frame {overflow:hidden; position:relative; border:0px solid blue; background:white URL(images/jtable/grid-col.gif) repeat-x left top; border: 0x solid red;}
		.jtable_group_header {position:relative;overflow:hidden;height:24px;}
			.jtable_column_header { position:relative;height:24px; line-height:24px; PADDING:0;margin:0; OVERFLOW:hidden; background: url(images/jtable/jtable_header_spliter.gif) no-repeat right bottom; text-indent:2px;text-overflow:ellipsis;WHITE-SPACE:nowrap;}
			.jtable_column_header a { display:block; margin-right: 2px;}
			.jtable_column_header a:hover {text-decoration: none; background: #ebf3fd URL(images/jtable/grid_col_over.gif) repeat-x left bottom;margin-right:2px;}
			.jtable_column_header a input { margin: 6px 0 5px 0; margin: 4px 0 3px 0\9; }
		.jtable_group_body {position:relative; overflow: auto; border: 0px solid green;}
			.jtable_cdata {PADDING:0; OVERFLOW: hidden;BORDER-BOTTOM: #ddd 0px solid; WHITE-SPACE: nowrap;text-indent:5px;text-overflow:ellipsis;}
			.jtable_checkbox { text-indent: 0;}
			.jtable_checkbox input {margin: 8px 0px 7px 0px;}
	.jtable_toolbar {border-top: 1px solid #99BBE8; background: #DAEDF7 URL(images/jtable/toolbars.gif) repeat-x left top; font-weight: normal; padding: 3px 3px 1px 1px; height: 25px; width: 100%;OVERFLOW: hidden; WHITE-SPACE: nowrap; text-overflow:ellipsis;}";
		.jtable_toolbar ul{width: 100%;}
		.jtable_toolbar li{list-style:none; float:left; height:24px; line-height:24px; padding:0px 8px;}

.jtable_moveline{position: absolute;z-Index: 2;width: 1px; height: 10px; background: red;}

.jtable_div_dashbox{position: absolute; border: 1px solid #99BBE8; filter: alpha(opacity=50);  -moz-opacity: .5; background: #DFE8F6; display: none;}
.jtable_div_dragbox_top {position: absolute; border: 0px solid #99BBE8; width: 8px; height: 9px; background: url(images/jtable/col-move-top.gif) no-repeat left top; display: none;}
.jtable_div_dragbox_bottom{position: absolute; border: 0px solid #99BBE8; width: 8px; height: 9px; background: url(images/jtable/col-move-bottom.gif) no-repeat left top; display: none;}
.jtable_div_contextmenu {position: absolute;  border: 0px solid red; width: 14px; height: 21px; background: url(images/jtable/mb.gif) no-repeat left center; display: none;}

.jtable_plugin_hwnd {}

.jtable_plugin_hwnd_split {
	background-image: url(images/jtable/grid-blue-split.gif) no-repeat 0px center;
}

.jtable_plugin_page_first {
	width: 20px; 
	height: 16px;
	border-width: 0px;
	background: url(images/pages/page-first.gif) no-repeat center center;
}

.jtable_plugin_page_first_disabled {
	width: 20px; 
	height: 16px;
	border-width: 0px;
	background: url(images/pages/page-first-disabled.gif) no-repeat center center;
}

.jtable_plugin_page_prev {
	width: 20px; 
	height: 16px;
	border-width: 0px;
	background: url(images/pages/page-prev.gif) no-repeat center center;
}

.jtable_plugin_page_prev_disabled {
	width: 20px; 
	height: 16px;
	border-width: 0px;
	background: url(images/pages/page-prev-disabled.gif) no-repeat center center;	
}

.jtable_plugin_page_next {
	width: 20px; 
	height: 16px;
	border-width: 0px;
	background: url(images/pages/page-next.gif) no-repeat center center;	
}

.jtable_plugin_page_next_disabled {
	width: 20px; 
	height: 16px;
	border-width: 0px;
	background: url(images/pages/page-next-disabled.gif) no-repeat center center;	
}

.jtable_plugin_page_last {
	width: 20px; 
	height: 16px;
	border-width: 0px;
	background: url(images/pages/page-last.gif) no-repeat center center;	
}

.jtable_plugin_page_last_disabled {
	width: 20px; 
	height: 16px;
	border-width: 0px;
	background: url(images/pages/page-last-disabled.gif) no-repeat center center;	
}

/* jtable control end */

.contextmenu {
	position: absolute; 
	width: 100px; 
	padding: 3px 0px;  
	margin: 0px; 
	border: 1px solid #718bb7;
	background: #F8F8F8 url(images/contextmenu/menuleft.gif) repeat-y left top;
	overflow: hidden;
}

.contextmenu .menuitems {
	width: 100%; 
	white-space: nowrap;
	height: 24px; 
	padding: 0px; 
	margin: 0px; 
	display: block; 
	cursor: default; 
	border: 0px solid blue;
}
.contextmenu .more {
	width: 100%; white-space: nowrap;height: 24px; padding: 0px; margin: 0px; display: block; cursor: default; border: 0px solid blue;
	background : url(images/contextmenu/moreitem.gif) no-repeat center right;
}

.contextmenu .subwnd {
	z-index: 100; 
	width: 150px; 
	margin: 0px 0px 0px -2px; 
	padding-left: 0px; 
	position: relative; 
	list-style: none; 
	background: #F8F8F8 url(images/contextmenu/menuleft.gif) repeat-y left top; 
	border: 1px solid #718bb7;
}

.contextmenu .checked {
	background : url(images/contextmenu/checked.gif) no-repeat center center;
}

.contextmenu .unchecked {
	background : url(images/contextmenu/unchecked.gif) no-repeat center center;
}

.x-menu{border:1px solid #718bb7;z-index:15000;background:#fff url(../images/default/menu/menu.gif) repeat-y;}
.ext-ie .x-menu{zoom:1;overflow:hidden;}
.x-menu-list{border:1px solid #fff;}
.x-menu li{line-height:100%;}
.x-menu li.x-menu-sep-li{font-size:1px;line-height:1px;}
.x-menu-list-item{font:normal 11px tahoma,arial,sans-serif;white-space:nowrap;-moz-user-select:none;-khtml-user-select:none;display:block;padding:1px;}
.x-menu-item-arrow{background:transparent url(../images/default/menu/menu-parent.gif) no-repeat right;}
.x-menu-sep{display:block;font-size:1px;line-height:1px;height:1px;background:#c3daf9;margin:3px 3px 3px 32px;}
.x-menu-focus{position:absolute;left:0;top:-5px;width:0;height:0;line-height:1px;}
.x-menu-item{display:block;line-height:14px;padding:3px 21px 3px 3px;white-space:nowrap;text-decoration:none;color:#233d6d;-moz-outline:0 none;outline:0 none;cursor:pointer;}
.x-menu-item-active{color:#233d6d;background:#c3daf9;border:1px solid #8BB8F3;padding:0;}
.x-menu-item-icon{border:0 none;height:16px;padding:0;vertical-align:middle;width:16px;margin:0 11px 0 0;background-position:center;}
.x-menu-check-item .x-menu-item-icon{background:transparent url(../images/default/menu/unchecked.gif) no-repeat center;}
.x-menu-item-checked .x-menu-item-icon{background-image:url(../images/default/menu/checked.gif);}
.x-menu-group-item .x-menu-item-icon{background:transparent;}
.x-menu-item-checked .x-menu-group-item .x-menu-item-icon{background:transparent url(../images/default/menu/group-checked.gif) no-repeat center;}
.x-menu-plain{background:#fff;}
.x-menu-date-item{padding:0;}
.x-menu .x-color-palette,.x-menu .x-date-picker{margin-left:32px;margin-right:4px;}
.x-menu .x-date-picker{border:1px solid #a3bad9;margin-top:2px;margin-bottom:2px;}
.x-menu-plain .x-color-palette,.x-menu-plain .x-date-picker{margin:0;border:0 none;}


.qlib_ui_select {width:100px;height:24px;font-size:12px;text-overflow:ellipsis;white-space: nowrap;}
.qlib_ui_select:hover {height:24px; background: red;font-size:12px;text-overflow:ellipsis;white-space: nowrap;}
.qlib_ui_select div.tag_select{display:block;color:#79A2BD;width:80px;height:24px;background:transparent url("images/select/ubox-select.gif") no-repeat 0 0;padding:0 10px;line-height:24px;}
.qlib_ui_select div.tag_select_hover{display:block;color:#79A2BD;width:80px;height:24px;background:transparent url("images/select/ubox-select.gif") no-repeat 0 -24px;padding:0 10px;line-height:24px;}
.qlib_ui_select div.tag_select_open{display:block;color:#79A2BD;width:80px;height:24px;background:transparent url("images/select/ubox-select.gif") no-repeat 0 -48px;padding:0 10px;line-height:24px;}

.qlib_ui_select ul.tag_options{position:absolute;padding:0;margin:0;list-style:none;background:transparent url("images/select/ubox-select.gif") no-repeat right bottom;width:100px;padding:0 0 5px;margin:0;}
.qlib_ui_select ul.tag_options li{background:transparent url("images/select/ubox-select.gif") repeat-y -100px 0;display:block;width:80px;padding:0 10px;height:24px;text-decoration:none;line-height:24px;color:#79A2BD;}

.qlib_ui_select ul.tag_options li.open_hover{background:transparent url("images/select/ubox-select.gif") no-repeat 0 -72px;color:#fff}
.qlib_ui_select ul.tag_options li.open_selected{background:transparent url("images/select/ubox-select.gif") no-repeat 0 -96px;color:#fff}


/*
  qlib calendar
*/
#calendar td {
  width: 20px;
  height: 20px;
  font-size:13px;
}

#calendar .header {
  font: 12px Arial, Tahoma !important;
  font-weight: bold !important;
  font: 11px Arial, Tahoma;
  font-weight: bold;
  color: #FFF;
  background:#F90;
  height: 25px;
  padding-left: 0px;
}

#calendar .header td {}
#calendar .header a {color: #FFF;}
#calendar .header input {background:none;vertical-align: middle;height: 16px;}

#calendar .category {
  font: 12px Arial, Tahoma !important;
  font: 11px Arial, Tahoma;
  color: #59677f;
  height:24px;
  background: #F1F1F1;
}

#calendar .category td {
  border-bottom: 1px solid #DEDEB8;
}

#calendar .expire, #calendar .expire a:link, #calendar .expire a:visited {
  color: #999999;
}

#calendar .default, #calendar .default a:link, #calendar .default a:visited {
  color: #000000;
}
#calendar .checked, #calendar .checked a:link, #calendar .checked a:visited {
  color: #FF0000;
}

#calendar .today, #calendar .today a:link, #calendar .today a:visited {
  color: #00BB00;
}
#calendar_year {display: none;line-height: 130%;background: #FFFFFF;position: absolute;z-index: 10;}
#calendar_year .col {float: left;background: #FFFFFF;margin-left: 1px;border: 1px solid #59677f;padding: 4px;}
#calendar_month {display: none;background: #FFFFFF;line-height: 130%;border: 1px solid #59677f;padding: 4px;position: absolute;z-index: 11;}
#calendar .tableborder {
  background: white;
  border: 1px solid #59677f;
  -webkit-box-shadow: 0px 5px 30px #505050; 
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#CCCCCC, Strength=3, Direction=135);
}
#year,#month{padding-right:10px;background:url(images/calendar/onbottom.gif) no-repeat center right;}/*图片路径可以改成自己的*/
/*Date*/